n8n-workflows/v3-cleanup-2026-04-30/9szkCBiLiSGJZMFz.json
{
  "updatedAt": "2026-04-23T14:41:29.754Z",
  "createdAt": "2026-04-15T17:25:12.879Z",
  "id": "9szkCBiLiSGJZMFz",
  "name": "[Tool] Mirador - notificar_diego",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"lead_id\": \"uuid\",\n  \"session_id\": \"uuid\",\n  \"nombre\": \"Juan Perez\",\n  \"whatsapp\": \"+56912345678\",\n  \"email\": \"juan@ejemplo.cl\",\n  \"resumen\": \"Le interesan las parcelas 47 y 74, quiere credito directo en 3 meses, segunda vivienda.\",\n  \"motivo\": \"lead_solicito\",\n  \"contexto\": \"Pidio coordinar visita\",\n  \"broker_request\": true\n}"
      },
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\n\nconst isBrokerRequest = d.broker_request === true || !!d.motivo;\n\nconst texto = [\n  '🔔 *SOLICITUD DE CONTACTO — MIRADOR DE VILLARRICA*',\n  '',\n  `👤 *Nombre:* ${d.nombre || '—'}`,\n  `📧 *Correo:* ${d.email || '—'}`,\n  `📱 *WhatsApp:* ${d.whatsapp || '—'}`,\n  '',\n].join('\\n');\n\nconst hasLeadId = !!d.lead_id;\n\nreturn [{ json: {\n  text: texto,\n  number: '56992533044',\n  lead_id: d.lead_id,\n  session_id: d.session_id,\n  skip_send: d.skip_send === true || !hasLeadId,\n  is_broker_request: isBrokerRequest,\n} }];"
      },
      "id": "build-msg",
      "name": "Build Notification Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Branching determinista sin If node: marca cada item como send o skip.\nconst d = $json;\nif (d.skip_send === true) {\n  return [{ json: { ...d, _action: 'skip' } }];\n}\nreturn [{ json: { ...d, _action: 'send' } }];"
      },
      "id": "route",
      "name": "Route",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.17.0.1:8080/message/sendText/Hugo Vargas Cubelli",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json._action === 'send' ? JSON.stringify({ number: $json.number, text: $json.text }) : '{}' }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "evolution-send",
      "name": "Evolution API Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://segllewycyscyenvqtes.supabase.co/rest/v1/leads?id=eq.{{ $('Build Notification Text').first().json.lead_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlZ2xsZXd5Y3lzY3llbnZxdGVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI1NDg1MCwiZXhwIjoyMDkxODMwODUwfQ.NuKXzAXPeENkmjxRYpX_5faw5JOP32bvgZRL284dJHI"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlZ2xsZXd5Y3lzY3llbnZxdGVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI1NDg1MCwiZXhwIjoyMDkxODMwODUwfQ.NuKXzAXPeENkmjxRYpX_5faw5JOP32bvgZRL284dJHI"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Build Notification Text').first().json.skip_send === true ? '{}' : JSON.stringify({ notified_diego: true, notified_at: new Date().toISOString(), last_notified_score: $('Build Notification Text').first().json.score }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "mark-notified",
      "name": "Mark lead notified",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Build Notification Text').first().json;\nif (msg.skip_send === true) {\n  return [{ json: { notified: false, status: 'skipped', reason: msg.skip_send } }];\n}\nreturn [{ json: { notified: true, status: 'ok' } }];"
      },
      "id": "ok-output",
      "name": "Return Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Notification Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Notification Text": {
      "main": [
        [
          {
            "node": "Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route": {
      "main": [
        [
          {
            "node": "Evolution API Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API Send": {
      "main": [
        [
          {
            "node": "Mark lead notified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark lead notified": {
      "main": [
        [
          {
            "node": "Return Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "b6d6b096-82af-42ef-9cb6-cea77b7a0254",
  "activeVersionId": "b6d6b096-82af-42ef-9cb6-cea77b7a0254",
  "versionCounter": 19,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-04-15T17:25:12.881Z",
      "createdAt": "2026-04-15T17:25:12.881Z",
      "role": "workflow:owner",
      "workflowId": "9szkCBiLiSGJZMFz",
      "projectId": "30a6jRldjQxRfVCA",
      "project": {
        "updatedAt": "2026-04-06T22:42:21.682Z",
        "createdAt": "2026-04-06T22:39:53.588Z",
        "id": "30a6jRldjQxRfVCA",
        "name": "hugo vargas <hugo.vargas.cubelli@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "ad6c5ea4-1002-413c-90ee-d986782c10f5"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}