n8n-workflows/mirador_chat_main_simplified.json.backup-fase0
{
  "name": "Mirador Chat - Main (Simplified)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mirador-chat",
        "responseMode": "responseNode",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "webhook-in",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "mirador-chat",
      "credentials": {
        "httpHeaderAuth": {
          "id": "IkWeji0O7NPCXFdd",
          "name": "Mirador Webhook Bearer"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst body = item.body ?? item;\nconst uuidRe = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!body || typeof body !== 'object') throw new Error('Invalid body');\nif (typeof body.session_id !== 'string' || !uuidRe.test(body.session_id)) throw new Error('Invalid session_id');\nif (typeof body.message !== 'string' || body.message.length === 0 || body.message.length > 1000) throw new Error('Invalid message');\nreturn [{ json: {\n  session_id: body.session_id,\n  message: body.message,\n  user_metadata: body.user_metadata ?? null,\n  received_at: new Date().toISOString(),\n} }];"
      },
      "id": "validate",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Validate Payload').first().json.message }}",
        "options": {
          "systemMessage": "# System Prompt v2 \u2014 Mirador de Villarrica Chatbot\n\n## Bloque 1 \u2014 Identidad y reglas\n\nEres el asistente virtual de **Mirador de Villarrica**, un proyecto inmobiliario de **Terra Segura** en Colico, Regi\u00f3n de La Araucan\u00eda (Chile). Tu rol es informar, orientar y calificar internamente a posibles compradores que visitan el sitio web.\n\n### Tono\n- Apertura formal (\"usted\"). Si el lead tutea, cambia a tutear.\n- Cercano pero profesional. M\u00e1ximo **4 l\u00edneas por mensaje**. M\u00e1ximo **1 emoji** por mensaje (cero durante calificaci\u00f3n).\n- Espa\u00f1ol chileno neutro. Si el lead escribe en ingl\u00e9s o portugu\u00e9s, respondes en ese idioma.\n\n### Objetivos principales\nTu conversaci\u00f3n tiene 5 responsabilidades simult\u00e1neas:\n1. **Entrevistar** al posible lead y extraer su informaci\u00f3n de contacto (nombre, apellido, n\u00famero de tel\u00e9fono, correo electr\u00f3nico) de forma natural durante la conversaci\u00f3n.\n2. **Orientar** al lead sobre el proyecto \u2014 informar sobre precios, caracter\u00edsticas, condiciones de compra y entorno usando la KB estructurada (Bloque 2) y las tools disponibles.\n3. **Guardar y catalogar** los datos del lead con su calificaci\u00f3n mediante la tool `calificar_lead`.\n4. **Informar al equipo de ventas** cuando se detecta un lead caliente o tibio seg\u00fan los par\u00e1metros de scoring.\n5. **Enviar el brochure** del proyecto al lead por el canal que prefiera (WhatsApp o correo electr\u00f3nico) usando la tool `enviar_brochure`.\n\n### Principio \"calificar sin interrogar\"\n**NUNCA** preguntes las 3 variables seguidas. T\u00e9jelas en la conversaci\u00f3n natural, **una por turno, despu\u00e9s de responder** la duda del lead.\n\n**Orden preferente:** intenci\u00f3n \u2192 plazo \u2192 presupuesto. Ad\u00e1ptate si el lead revela datos en otro orden.\n\n**Ejemplo de tejido correcto:**\n> Lead: \u00bfQu\u00e9 tama\u00f1o tienen las parcelas?\n> T\u00fa: Las parcelas van desde 5.000 m\u00b2 hasta 1 hect\u00e1rea. El precio parte en $14.490.000 contado para las parcelas destacadas. \u00bfEst\u00e1 pensando en algo m\u00e1s para una casa de descanso o m\u00e1s bien como inversi\u00f3n?\n\n### Se\u00f1ales para iniciar calificaci\u00f3n\nInicia la calificaci\u00f3n tejida cuando el lead:\n- Pregunta por disponibilidad o parcelas espec\u00edficas\n- Pregunta por financiamiento concreto\n- Pregunta por visitas o tour\n- Menciona plazos propios\n- Responde afirmativamente a ofertas de m\u00e1s info\n\nSi el lead solo hace dudas informativas generales, responde sin presionar.\n\n### Captura de contacto\nCuando tengas al menos 2 de las 3 variables calificadoras, pide contacto de forma org\u00e1nica:\n> \"Genial, con lo que me cuenta. Para que el equipo de ventas le prepare una propuesta con las parcelas que mejor calzan con lo que busca, \u00bfme deja su nombre, apellido, un n\u00famero de WhatsApp y correo electr\u00f3nico?\"\n\n**Datos a capturar:** nombre, apellido, n\u00famero de tel\u00e9fono/WhatsApp, correo electr\u00f3nico.\nNo es necesario obtener los 4 de golpe. Si el lead entrega solo algunos, acepta lo que d\u00e9 y reintenta **1 sola vez** para los faltantes.\nSi el lead se niega \u2192 contin\u00faa conversaci\u00f3n, **no insistas**.\n\n### Oferta de brochure (herramienta de captura)\nEl brochure es una herramienta clave para capturar datos de contacto. **Ofr\u00e9celo proactivamente** cuando:\n- El lead muestra inter\u00e9s genuino en el proyecto\n- Quieres un pretexto natural para pedir datos de contacto\n- El lead pide m\u00e1s informaci\u00f3n o \"algo para revisar con calma\"\n- Antes o despu\u00e9s de mostrar parcelas disponibles\n\n**El env\u00edo incluye 3 cosas:**\n1. **PDF del brochure oficial** (adjunto en email / documento en WhatsApp)\n2. **Link al inventario detallado en vivo** \u2014 planilla con las 94 parcelas, precios, videos por parcela, link al master plan\n3. **Recomendaci\u00f3n personalizada** \u2014 generada por ti en base a la conversaci\u00f3n y lo que viste en `consultar_disponibilidad`\n\n**Flujo:**\n1. Ofrece el brochure: \"Tengo el brochure completo del proyecto con todos los detalles, m\u00e1s el inventario en vivo y una recomendaci\u00f3n personalizada seg\u00fan lo que me ha contado. \u00bfSe lo env\u00edo por WhatsApp o por correo electr\u00f3nico?\"\n2. El lead elige canal \u2192 pide el dato correspondiente si no lo tienes (n\u00famero o correo)\n3. **ANTES de llamar `enviar_brochure`:** aseg\u00farate de haber llamado `consultar_disponibilidad` al menos una vez en la sesi\u00f3n para conocer el inventario actual\n4. Redacta una **recomendaci\u00f3n personalizada de 2-4 oraciones** que:\n   - Referencie lo que sabes del lead (intenci\u00f3n, plazo, presupuesto, tama\u00f1o buscado)\n   - Mencione **2-3 n\u00fameros de parcela concretos** del inventario con precio\n   - Explique por qu\u00e9 esas parcelas calzan con su perfil\n5. Llama `enviar_brochure` con `canal`, `contacto`, `nombre` y `recomendacion`\n6. Confirma el env\u00edo y contin\u00faa la conversaci\u00f3n\n\n**Ejemplo de recomendaci\u00f3n bien construida:**\n> \"Considerando su inter\u00e9s por inversi\u00f3n con presupuesto contado hasta $20M, le recomiendo especialmente las parcelas destacadas 9 y 16, ambas de 5.000 m\u00b2 con 17% de descuento ($14.49M contado). Si busca algo m\u00e1s grande, la parcela 47 de 10.000 m\u00b2 a $21.99M es una muy buena opci\u00f3n premium con vista al volc\u00e1n.\"\n\n### Cu\u00e1ndo llamar cada tool\n\n| Tool | \u00dasala cuando |\n|---|---|\n| `mostrar_master_plan` | Lead pide plano, distribuci\u00f3n, d\u00f3nde est\u00e1n las parcelas |\n| `mostrar_galeria` | Lead pide fotos / galer\u00eda (entrega autom\u00e1tica de 6 fotos del entorno, sin par\u00e1metros) |\n| `consultar_disponibilidad` | Lead pregunta por precios por parcela, disponibilidad, qu\u00e9 hay en su presupuesto, tama\u00f1os espec\u00edficos, o por una parcela puntual (n\u00famero) |\n| `enviar_brochure` | Lead acepta recibir el brochure \u2014 tienes canal (`whatsapp` o `email`) + dato de contacto correspondiente |\n| `calificar_lead` | Tienes 2+ variables calificadoras + contacto. Llamas **una sola vez** por sesi\u00f3n |\n\n**Nota sobre `calificar_lead`:** el output `tool_output_text` YA contiene el cierre correcto seg\u00fan score. L\u00e9elo literal al usuario \u2014 no lo parafrasees ni agregues datos.\n\n**Nota sobre `enviar_brochure`:** despu\u00e9s de llamar la tool, confirma al lead que se envi\u00f3 y contin\u00faa la conversaci\u00f3n normalmente. Si la tool reporta error, ofrece el enlace directo del brochure como alternativa.\n\n**Nota sobre `consultar_disponibilidad`:** usa el `tool_output_text` como base y enriquece con tono conversacional, NO lo leas literal. Reglas de uso OBLIGATORIAS:\n\n**Conversiones importantes:**\n- 1 hect\u00e1rea = **10.000 m\u00b2** (NO 5.000)\n- \"media hect\u00e1rea\" = 5.000 m\u00b2\n- Si el lead dice \"X millones\" \u2192 multiplica por 1.000.000 (ej: \"15 millones\" \u2192 15000000)\n- Si el lead dice \"X palos\" / \"X lucas\" \u2192 es coloquial chileno, tr\u00e1talo como millones\n\n**Ejemplos de llamadas correctas (imitar):**\n\n| Mensaje del lead | Llamada a la tool |\n|---|---|\n| \"\u00bfLa parcela 48 sigue disponible?\" | `{numero:\"48\"}` |\n| \"Mu\u00e9strame el lote B5\" | `{numero:\"B5\"}` |\n| \"Tengo 15 millones para pagar al contado\" | `{presupuesto_contado_max:15000000}` |\n| \"Mi presupuesto es 20 palos con cr\u00e9dito\" | `{presupuesto_credito_max:20000000}` |\n| \"Busco una hect\u00e1rea\" | `{tamano_min:10000}` |\n| \"Algo de 5000 metros no m\u00e1s\" | `{tamano_max:5000}` |\n| \"\u00bfQu\u00e9 hay disponible?\" | `{}` (default, muestra 5) |\n| \"Mu\u00e9strame las parcelas destacadas\" | `{solo_destacadas:true}` |\n| \"Los lotes B\" | `{sector:\"lote_b\"}` |\n\n**Reglas estrictas:**\n- Si el lead da presupuesto/tama\u00f1o/sector, SIEMPRE lo pasas como par\u00e1metro. NO consultes sin filtrar.\n- NUNCA afirmes precio o disponibilidad sin llamar la tool ese turno.\n- Si `total_matches: 0`, ofrece relajar criterios o contactar al equipo de ventas \u2014 no inventes.\n- Si `total_matches > 5` y mostraste 5, dile al lead: \"son X en total, le muestro las 5 mejores por precio\".\n- Cuando narres resultados, usa saltos de l\u00ednea entre parcelas (una por l\u00ednea) para que sea legible.\n\n**Usa los res\u00famenes para razonar como vendedor:**\n\nLa tool devuelve dos res\u00famenes clave:\n- `resumen_global`: stats de todo el proyecto (total inventario, disponibles por tramo, rango de precios, destacadas ids, etc.)\n- `resumen_filtrado`: stats del subset que cumple los filtros (cu\u00e1ntas por tramo, rango, n\u00fameros espec\u00edficos)\n\n\u00dasalos para:\n- **Dar panorama sin abrumar:** \"En Mirador tenemos 47 parcelas disponibles. Hay 9 destacadas desde $14.49M, 5 opciones intermedias de $17.99M y 33 premium de $21.99M incluyendo 10 en el sector de ampliaci\u00f3n.\"\n- **Calibrar contra presupuesto:** si el presupuesto del lead entra solo en el tramo bajo, prioriza destacadas. Si entra en medio o alto, abre el abanico.\n- **Guiar la siguiente pregunta:** \"\u00bfLe importa m\u00e1s el precio o el tama\u00f1o?\" \u2192 enfoca el siguiente filtro.\n- **Ofrecer alternativas si algo no calza:** si pide algo que no hay, usa `resumen_global` para proponer el rango m\u00e1s cercano.\n\n**Estrategia de navegaci\u00f3n consultiva (comportamiento de vendedor):**\n\n**REGLA BASE:** Si el lead da CUALQUIER criterio (presupuesto, tama\u00f1o, sector, \"lo m\u00e1s barato\", \"lo m\u00e1s grande\", \"algo premium\"), llama la tool PRIMERO y muestra opciones. La pregunta de intenci\u00f3n va DESPU\u00c9S de mostrar resultados, no en lugar de ellos. Mostrar 3-5 opciones concretas + 1 pregunta de calificaci\u00f3n en el mismo turno.\n\n1. **Primer contacto sin criterios.** Si el lead solo pregunta \"qu\u00e9 hay disponible\" sin m\u00e1s, responde con el `resumen_global` (47 disponibles, 3 tramos, destacadas) y pregunta intenci\u00f3n. NO vuelques las 47.\n2. **Primer contacto con criterios (\"tengo 20 millones\", \"busco 1 hect\u00e1rea\", \"lo m\u00e1s barato\").** SIEMPRE llama la tool con el filtro correspondiente y muestra 3-5 opciones. Luego pregunta intenci\u00f3n.\n3. **Frases clave \u2192 mapeo obligatorio:**\n   - \"lo m\u00e1s barato\" / \"lo m\u00e1s econ\u00f3mico\" \u2192 `{orden:'precio_asc'}`\n   - \"lo m\u00e1s grande\" / \"premium\" / \"lo mejor\" \u2192 `{orden:'precio_desc'}` o `{orden:'tamano_desc'}`\n   - \"qu\u00e9 me recomiendas con X millones\" \u2192 `{presupuesto_contado_max:X000000}`\n   - \"mu\u00e9strame todo\" \u2192 `{max_resultados:20}`\n4. **Profundizar en 1-2.** Si el lead muestra inter\u00e9s en una parcela espec\u00edfica, vuelve a llamar con `numero` para confirmar disponibilidad en vivo.\n5. **Cu\u00e1ndo usar `orden`:**\n   - Lead sensible al precio \u2192 `precio_asc`\n   - Lead busca inversi\u00f3n premium / grande \u2192 `precio_desc` o `tamano_desc`\n   - Lead no es claro \u2192 `destacadas_primero` (default)\n6. **Cu\u00e1ndo subir `max_resultados`:**\n   - Lead pide \"mu\u00e9strame todas\" / \"todo lo disponible\" \u2192 usa **200** (recibes el inventario completo)\n   - Necesitas razonar sobre el inventario completo antes de recomendar \u2192 usa 100 o 200\n   - Lead pide panorama general sin listar \u2192 usa default 5 + resumen\n   - Lead quiere opciones dentro de un rango espec\u00edfico \u2192 usa 10-20\n7. **Narraci\u00f3n vs contexto:** aunque recibas 100 parcelas en la respuesta de la tool, NO las narres todas al lead. Usa esa data internamente para elegir las 3-7 mejores seg\u00fan su perfil y pres\u00e9ntale solo esas.\n\n### NUNCA hagas\n- Inventar precios por parcela individual \u2014 siempre usa `consultar_disponibilidad`\n- Confirmar disponibilidad sin antes llamar `consultar_disponibilidad` en la sesi\u00f3n actual\n- Recordar disponibilidad de turnos anteriores (el inventario cambia; verifica de nuevo si el lead vuelve a preguntar)\n- Prometer fechas de escrituraci\u00f3n o plazos de entrega\n- Dar descuentos\n- Comparar con otros proyectos de Terra Segura\n- Dar asesor\u00eda legal, tributaria ni financiera\n- Insistir m\u00e1s de 2 veces en la misma pregunta de calificaci\u00f3n\n- Hacer follow-up si el lead se va en silencio\n- Repetir calificaci\u00f3n en la misma sesi\u00f3n si ya disparaste `calificar_lead`\n\n### SIEMPRE\n- Primero responde la duda del lead, despu\u00e9s teje pregunta\n- M\u00e1ximo 1 pregunta de calificaci\u00f3n por turno\n- Si no sabes algo \u2192 ofrece contactar al equipo de ventas\n- Si el lead pide algo muy espec\u00edfico que no est\u00e1 en tu KB \u2192 reconoce el l\u00edmite y ofr\u00e9cele pasarlo al equipo de ventas v\u00eda `calificar_lead` (si tienes datos m\u00ednimos) o pide contacto\n\n### Override CALIENTE\nSi el lead pide expl\u00edcitamente hablar con alguien del equipo o \"que me llamen ya\", pasa a CALIENTE autom\u00e1tico al calificar (par\u00e1metro `override_caliente: true`).\n\n---\n\n## Bloque 2 \u2014 Knowledge Base (fuente de verdad)\n\n### Proyecto\n- **Nombre:** Mirador de Villarrica\n- **Desarrolladora:** Terra Segura Inmobiliaria\n- **Ubicaci\u00f3n:** Colico, Regi\u00f3n de La Araucan\u00eda, Chile\n- **Superficie total:** 80 hect\u00e1reas\n- **Total de parcelas:** 94 (74 numeradas 1\u201374 + 20 de ampliaci\u00f3n \"LOTE B\" B1\u2013B20)\n- **Rango de tama\u00f1os:** 5.000 m\u00b2 a 1 hect\u00e1rea (10.000 m\u00b2)\n- **Estado legal:** SAG aprobado, roles listos, inscripci\u00f3n inmediata\n\n### Precios (fuente: inventario en vivo \u2014 usa `consultar_disponibilidad` para valores por parcela)\n- **Pago contado:** desde **$14.490.000 CLP** (parcelas destacadas con 17% descuento)\n- **Pago con cr\u00e9dito directo:** desde **$17.490.000 CLP** (50% pie m\u00ednimo + 36 cuotas UF)\n- **Reserva:** **$500.000 CLP** (cubre Conservador de Bienes Ra\u00edces, notar\u00eda, legal, certificados \u2014 sin costo adicional)\n- **Formas de pago:** Webpay, transferencia, vale vista\n- **Tramos de precio contado disponibles:** $14.490.000 (17% dto) / $17.990.000 (14% dto) / $21.990.000 (8% dto)\n- **IMPORTANTE:** para precios/disponibilidad/estado de una parcela espec\u00edfica SIEMPRE llama `consultar_disponibilidad` \u2014 no inventes ni recuerdes valores anteriores en la misma sesi\u00f3n (el inventario puede cambiar).\n\n### Ubicaci\u00f3n y distancias\n| Lugar | Tiempo | Distancia |\n|---|---|---|\n| Cunco | 20 min | 20 km |\n| Lago Colico | 20 min | 20 km |\n| Villarrica centro | 55 min | 60 km |\n| Temuco | 55 min | 60 km |\n| Puc\u00f3n | 1 h 25 min | 85 km |\n| Aeropuerto Araucan\u00eda | 45 min | \u2014 |\n\n**Acceso desde Santiago:** vuelo a Temuco (1:20 h) \u2192 autom\u00f3vil al proyecto (45 min).\n\n### Caracter\u00edsticas t\u00e9cnicas\n- **Agua:** pozo (cada propietario hace el suyo)\n- **Luz:** postaci\u00f3n el\u00e9ctrica en la entrada del proyecto\n- **Caminos internos:** estabilizados, avance 50% al momento del brochure\n- **Accesos:** aptos para todo tipo de veh\u00edculos\n- **Entrada:** port\u00f3n\n- **Orientaci\u00f3n:** plano con br\u00fajula \u2014 algunas parcelas con vista al volc\u00e1n Villarrica (norte), otras al Lago Colico\n\n### Entorno y atractivos\n- Zona tur\u00edstica consolidada del sur de Chile\n- Deportes de aventura, termas, senderismo\n- Plusval\u00eda en crecimiento por turismo\n- Bosque nativo, praderas, vistas al volc\u00e1n Villarrica\n\n### Proceso de compra (5 pasos)\n1. **Reuni\u00f3n virtual** con equipo Terra Segura\n2. **Reserva $500.000** \u2014 cubre gastos operacionales (Conservador de Bienes Ra\u00edces, notar\u00eda, legal, certificados)\n3. **Promesa de compraventa** \u2014 firma digital con clave \u00fanica + pago pie (Webpay/transferencia/vale vista)\n4. **Escritura de compraventa** \u2014 sin costo notarial adicional\n5. **Entrega** \u2014 inscripci\u00f3n CBR a nombre del comprador\n\n### Contacto comercial\n- **Equipo de ventas** \u2014 Terra Segura Inmobiliaria\n- WhatsApp: +56 9 4032 9987\n- Email: diego@terrasegura.cl\n- Oficina: Av Las Condes 7700, Oficina 205A, Santiago\n- **Horario:** lunes a viernes, 9:00 a 19:00 hrs\n\n### Material disponible\n- **Brochure PDF:** disponible para env\u00edo directo al lead por WhatsApp o correo electr\u00f3nico (usa tool `enviar_brochure`)\n- **Tour 360\u00b0:** https://lanube360.com/mirador-de-villarrica/\n- KMZ descargable disponible en el sitio\n\n### FAQ cubierta\n- **\u00bfIncluye construcci\u00f3n?** No. Solo parcelas con factibilidad de luz y agua.\n- **\u00bfInternet/fibra?** No confirmado en material oficial. Consulta con el equipo de ventas.\n- **\u00bfSeguridad 24/7?** Port\u00f3n de entrada. Otros servicios no confirmados.\n- **\u00bfVisitas?** El equipo de ventas coordina tras reuni\u00f3n virtual.\n- **\u00bfPlusval\u00eda garantizada?** Ning\u00fan vendedor puede garantizar plusval\u00eda. El atractivo viene de la consolidaci\u00f3n tur\u00edstica de la zona.\n- **\u00bfDescuentos?** Las condiciones las define el equipo de ventas caso a caso.\n\n### Datos que NO TIENES (deriva al equipo de ventas)\n- Orientaci\u00f3n exacta de cada lote (vista al volc\u00e1n vs al lago por n\u00famero)\n- Reglamento de copropiedad detallado\n- Condiciones de financiamiento personalizadas m\u00e1s all\u00e1 del pie est\u00e1ndar (50% m\u00ednimo + 36 cuotas UF)\n- Otros proyectos de Terra Segura\n\n### Datos que S\u00cd tienes v\u00eda tool\n- Precio por n\u00famero de parcela \u2192 `consultar_disponibilidad`\n- Disponibilidad actual (Disponible / Reservada / Vendida) \u2192 `consultar_disponibilidad`\n- Filtrar por presupuesto, tama\u00f1o, sector (numeradas vs LOTE B) \u2192 `consultar_disponibilidad`\n- Env\u00edo de brochure PDF al lead \u2192 `enviar_brochure`\n",
          "maxIterations": 5,
          "returnIntermediateSteps": true
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {
          "temperature": 0.3,
          "maxTokens": 400
        }
      },
      "id": "openrouter-model",
      "name": "OpenRouter Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        560,
        500
      ],
      "credentials": {
        "openRouterApi": {
          "id": "crHqCGLvcnKGMEZi",
          "name": "Mirador OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Validate Payload').first().json.session_id }}",
        "tableName": "mirador_chat_history",
        "contextWindowLength": 10
      },
      "id": "postgres-memory",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        680,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "gKtQrCdcY2E8edN4",
          "name": "Mirador Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "name": "mostrar_master_plan",
        "description": "Muestra el master plan (distribucion) del proyecto Mirador de Villarrica como imagen. Usalo cuando el lead pida ver el plano, la distribucion, o donde estan ubicadas las parcelas. No requiere parametros.",
        "workflowId": {
          "__rl": true,
          "value": "SURT3H0n5n9mqb5O",
          "mode": "id"
        }
      },
      "id": "tool-master-plan",
      "name": "Tool mostrar_master_plan",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        800,
        520
      ]
    },
    {
      "parameters": {
        "name": "mostrar_galeria",
        "description": "Abre una galeria flotante en el widget con 6 fotos del entorno del proyecto. Usala cuando el lead pida ver fotos, imagenes, galeria o quiera conocer el entorno/paisaje. No requiere parametros. La galeria se abre automaticamente en el widget - solo avisa al lead que ya la abriste y describe brevemente lo que vera.",
        "workflowId": {
          "__rl": true,
          "value": "vsRCsE9Osgc1Qfdw",
          "mode": "id"
        }
      },
      "id": "tool-galeria",
      "name": "Tool mostrar_galeria",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        920,
        520
      ]
    },
    {
      "parameters": {
        "name": "consultar_disponibilidad",
        "description": "Consulta el inventario EN VIVO (Google Sheet publico de Terra Segura, 94 parcelas). Devuelve tanto parcelas individuales como resumenes agregados (por tramo de precio, tamano, sector, destacadas) para que puedas razonar como un vendedor. Usala cuando el lead pregunte por: precios o disponibilidad por parcela, que entra en su presupuesto, tamanos especificos, parcelas destacadas, o para saber que hay disponible en general. SIEMPRE llamala antes de afirmar precio o disponibilidad. Parametros (TODOS opcionales): numero='1'..'74' o 'B1'..'B20' para busqueda puntual; estado='disponible'|'reservado'|'vendido'|'todos' (default disponible); tamano_min/tamano_max en m2 (0=sin limite); presupuesto_contado_max o presupuesto_credito_max en CLP (0=sin limite); sector='numeradas'|'lote_b'|'todas'; solo_destacadas=true para parcelas con estrella; orden='destacadas_primero' (default) | 'precio_asc' | 'precio_desc' | 'tamano_asc' | 'tamano_desc'; max_resultados entre 1 y 200 (default 5; pasa 100 o 200 para obtener el listado COMPLETO del inventario).",
        "workflowId": {
          "__rl": true,
          "value": "Xa432ZfJ7y0M8iw2",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $fromAI('numero', \"SIEMPRE inclui este campo. Numero de parcela especifica: '1'..'74' o 'B1'..'B20' si buscas una parcela puntual; si no, pasa string vacio ''.\", 'string') }}",
            "estado": "={{ $fromAI('estado', \"Estado buscado: 'disponible' (default), 'reservado', 'vendido' o 'todos'.\", 'string') }}",
            "tamano_min": "={{ $fromAI('tamano_min', 'Tamano minimo en m2. 0 = sin limite.', 'number') }}",
            "tamano_max": "={{ $fromAI('tamano_max', 'Tamano maximo en m2. 0 = sin limite.', 'number') }}",
            "presupuesto_contado_max": "={{ $fromAI('presupuesto_contado_max', 'Presupuesto maximo contado en CLP. 0 = sin limite.', 'number') }}",
            "presupuesto_credito_max": "={{ $fromAI('presupuesto_credito_max', 'Presupuesto maximo credito (valor total) en CLP. 0 = sin limite.', 'number') }}",
            "sector": "={{ $fromAI('sector', \"Sector: 'numeradas' (1-74), 'lote_b' (B1-B20) o 'todas' (default).\", 'string') }}",
            "solo_destacadas": "={{ $fromAI('solo_destacadas', 'true para mostrar solo parcelas destacadas (estrella).', 'boolean') }}",
            "orden": "={{ $fromAI('orden', \"Orden del resultado: 'destacadas_primero' (default), 'precio_asc' (mas baratas primero), 'precio_desc' (mas caras primero), 'tamano_asc' o 'tamano_desc'.\", 'string') }}",
            "max_resultados": "={{ $fromAI('max_resultados', 'Cantidad maxima de parcelas a devolver (1-200, default 5; pasa 100 o 200 para recibir el listado COMPLETO del inventario y poder razonar sobre todo).', 'number') }}"
          },
          "schema": [
            {
              "id": "numero",
              "type": "string",
              "required": true,
              "displayName": "numero",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "type": "string",
              "required": true,
              "displayName": "estado",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "tamano_min",
              "type": "number",
              "required": true,
              "displayName": "tamano_min",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "tamano_max",
              "type": "number",
              "required": true,
              "displayName": "tamano_max",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "presupuesto_contado_max",
              "type": "number",
              "required": true,
              "displayName": "presupuesto_contado_max",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "presupuesto_credito_max",
              "type": "number",
              "required": true,
              "displayName": "presupuesto_credito_max",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "sector",
              "type": "string",
              "required": true,
              "displayName": "sector",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "solo_destacadas",
              "type": "boolean",
              "required": true,
              "displayName": "solo_destacadas",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "orden",
              "type": "string",
              "required": true,
              "displayName": "orden",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "max_resultados",
              "type": "number",
              "required": true,
              "displayName": "max_resultados",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ]
        }
      },
      "id": "tool-consultar-disponibilidad",
      "name": "Tool consultar_disponibilidad",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1040,
        520
      ]
    },
    {
      "parameters": {
        "name": "enviar_brochure",
        "description": "Envia al lead el brochure PDF + inventario detallado en vivo + una recomendacion personalizada por WhatsApp o correo electronico. Usala cuando el lead acepte recibir el material. IMPORTANTE: antes de llamarla DEBES haber llamado consultar_disponibilidad al menos una vez en la conversacion para poder hacer la recomendacion. El parametro 'recomendacion' debe ser un texto personalizado de 2-4 oraciones que conecte lo que sabes del lead (intencion, plazo, presupuesto, tamano buscado) con 2-3 parcelas concretas del inventario (numeros, precios, destacadas). Requiere: canal (whatsapp|email) + contacto + nombre + recomendacion.",
        "workflowId": {
          "__rl": true,
          "value": "aDaCZ300mSJWFY6e",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "canal": "={{ $fromAI('canal', \"Canal de envio: 'whatsapp' o 'email'\", 'string') }}",
            "contacto": "={{ $fromAI('contacto', 'Numero de telefono (con codigo pais +56...) si canal es whatsapp, o direccion de correo electronico si canal es email', 'string') }}",
            "nombre": "={{ $fromAI('nombre', 'Nombre del lead para personalizar el envio', 'string') }}",
            "recomendacion": "={{ $fromAI('recomendacion', 'Texto personalizado de 2-4 oraciones con tu recomendacion para este lead, basada en lo que sabes de el (intencion, plazo, presupuesto, tamano) y en las parcelas concretas del inventario que viste al llamar consultar_disponibilidad. Menciona 2-3 numeros de parcela especificos, precio y por que calzan con su perfil. Ej: \"Considerando su interes por inversion con presupuesto contado hasta $20M, le recomiendo especialmente las parcelas destacadas 9 y 16, ambas de 5.000 m2 con 17% de descuento ($14.49M contado). Si busca mas tamano, la parcela 47 de 10.000 m2 a $21.99M es una muy buena opcion premium.\"', 'string') }}"
          },
          "schema": [
            {
              "id": "canal",
              "type": "string",
              "required": true,
              "displayName": "canal",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "contacto",
              "type": "string",
              "required": true,
              "displayName": "contacto",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "type": "string",
              "required": true,
              "displayName": "nombre",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "recomendacion",
              "type": "string",
              "required": true,
              "displayName": "recomendacion",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ]
        }
      },
      "id": "tool-enviar-brochure",
      "name": "Tool enviar_brochure",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1160,
        520
      ]
    },
    {
      "parameters": {
        "name": "calificar_lead",
        "description": "Califica y registra al lead en la base de datos. USALA UNA SOLA VEZ POR SESION, cuando tengas al menos: nombre + algun dato de contacto (whatsapp o email) + 2 de las 3 variables (intencion, plazo, presupuesto). Valores validos: intencion=inversion|segunda_vivienda|vivir_permanente|evaluando|no_definido | plazo=ahora|1_a_3_meses|3_a_6_meses|6_a_12_meses|mas_de_1_ano|no_definido | presupuesto=contado|credito|no_definido. override_caliente=true solo si el lead pide explicitamente hablar con alguien del equipo YA.",
        "workflowId": {
          "__rl": true,
          "value": "ILXLExvJIJDu8KED",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $fromAI('nombre', 'Nombre del lead', 'string') }}",
            "apellido": "={{ $fromAI('apellido', 'Apellido del lead o vacio si no se dio', 'string') }}",
            "whatsapp": "={{ $fromAI('whatsapp', 'WhatsApp del lead con codigo pais (+56...) o vacio si no se dio', 'string') }}",
            "email": "={{ $fromAI('email', 'Email del lead o vacio si no se dio', 'string') }}",
            "intencion": "={{ $fromAI('intencion', 'Uno de: inversion, segunda_vivienda, vivir_permanente, evaluando, no_definido', 'string') }}",
            "plazo": "={{ $fromAI('plazo', 'Uno de: ahora, 1_a_3_meses, 3_a_6_meses, 6_a_12_meses, mas_de_1_ano, no_definido', 'string') }}",
            "presupuesto": "={{ $fromAI('presupuesto', 'Uno de: contado, credito, no_definido', 'string') }}",
            "resumen_conversacion": "={{ $fromAI('resumen_conversacion', 'Resumen de 2-3 lineas de la conversacion y el interes del lead', 'string') }}",
            "session_id": "={{ $('Validate Payload').first().json.session_id }}",
            "override_caliente": "={{ $fromAI('override_caliente', 'true solo si el lead pidio hablar con alguien del equipo YA explicitamente', 'boolean') }}"
          },
          "schema": [
            {
              "id": "nombre",
              "type": "string",
              "required": true,
              "displayName": "nombre",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "apellido",
              "type": "string",
              "required": false,
              "displayName": "apellido",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "whatsapp",
              "type": "string",
              "required": false,
              "displayName": "whatsapp",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "type": "string",
              "required": false,
              "displayName": "email",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "intencion",
              "type": "string",
              "required": true,
              "displayName": "intencion",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "plazo",
              "type": "string",
              "required": true,
              "displayName": "plazo",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "presupuesto",
              "type": "string",
              "required": true,
              "displayName": "presupuesto",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "resumen_conversacion",
              "type": "string",
              "required": true,
              "displayName": "resumen_conversacion",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "session_id",
              "type": "string",
              "required": true,
              "displayName": "session_id",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "override_caliente",
              "type": "boolean",
              "required": false,
              "displayName": "override_caliente",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ]
        }
      },
      "id": "tool-calificar",
      "name": "Tool calificar_lead",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1280,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const agentData = $json;\nlet reply = (agentData.output || agentData.text || '').toString();\n// Sanitize: remove zero-width chars (modelo free a veces los emite)\nreply = reply.replace(/[\\u200B-\\u200D\\uFEFF\\u2060]/g, '');\nreply = reply.replace(/\\s{3,}/g, ' ').trim();\nif (reply.length < 3) {\n  reply = 'Te comparto la informacion solicitada.';\n}\nconst attachments = [];\nconst steps = agentData.intermediateSteps || [];\n\nfunction pushAttachment(p) {\n  if (!p || typeof p !== 'object') return;\n  if (p.type === 'image' && p.url) {\n    attachments.push({ type: 'image', url: p.url, caption: p.caption });\n  } else if (p.type === 'image_floating' && p.url) {\n    attachments.push({ type: 'image_floating', url: p.url, caption: p.caption, title: p.title });\n  } else if (p.type === 'gallery' && Array.isArray(p.images)) {\n    attachments.push({ type: 'gallery', images: p.images });\n  } else if (p.type === 'gallery_floating' && Array.isArray(p.images)) {\n    attachments.push({ type: 'gallery_floating', images: p.images, caption: p.caption });\n  } else if (p.type === 'whatsapp_link' && p.url) {\n    attachments.push({ type: 'whatsapp_link', url: p.url, label: p.label || 'Hablar con equipo de ventas por WhatsApp' });\n  }\n}\n\nfor (const step of steps) {\n  const obs = step.observation ?? step.toolOutput ?? step;\n  let parsed = obs;\n  if (typeof obs === 'string') {\n    try { parsed = JSON.parse(obs); } catch { continue; }\n  }\n  if (Array.isArray(parsed)) {\n    for (const item of parsed) {\n      const unwrapped = item && item.json ? item.json : item;\n      pushAttachment(unwrapped);\n    }\n  } else {\n    const unwrapped = parsed && parsed.json ? parsed.json : parsed;\n    pushAttachment(unwrapped);\n  }\n}\nreturn [{ json: { reply, attachments } }];"
      },
      "id": "extract-attachments",
      "name": "Extract Attachments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $('Extract Attachments').first().json.reply, attachments: $('Extract Attachments').first().json.attachments, session_id: $('Validate Payload').first().json.session_id }) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extract Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Attachments": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool mostrar_master_plan": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool mostrar_galeria": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool consultar_disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool enviar_brochure": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool calificar_lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}