n8n-workflows/mirador_chat_main_simplified.json
{
  "name": "Mirador Chat - Main (Simplified)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mirador-chat",
        "responseMode": "responseNode",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "webhook-in",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "mirador-chat",
      "credentials": {
        "httpHeaderAuth": {
          "id": "IkWeji0O7NPCXFdd",
          "name": "Mirador Webhook Bearer"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst body = item.body ?? item;\nconst uuidRe = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!body || typeof body !== 'object') throw new Error('Invalid body');\nif (typeof body.session_id !== 'string' || !uuidRe.test(body.session_id)) throw new Error('Invalid session_id');\nif (typeof body.message !== 'string' || body.message.length === 0 || body.message.length > 1000) throw new Error('Invalid message');\nreturn [{ json: {\n  session_id: body.session_id,\n  message: body.message,\n  user_metadata: body.user_metadata ?? null,\n  received_at: new Date().toISOString(),\n} }];"
      },
      "id": "validate",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT content FROM prompt_versions WHERE status = 'published' ORDER BY version_number DESC LIMIT 1;",
        "options": {}
      },
      "id": "get-published-prompt",
      "name": "Get Published Prompt",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        680,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "gKtQrCdcY2E8edN4",
          "name": "Mirador Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Validate Payload').first().json.message }}",
        "options": {
          "systemMessage": "={{ $('Get Published Prompt').first()?.json?.content || $env.FALLBACK_PROMPT }}",
          "maxIterations": 5,
          "returnIntermediateSteps": true
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {
          "temperature": 0.3,
          "maxTokens": 400
        }
      },
      "id": "openrouter-model",
      "name": "OpenRouter Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        560,
        500
      ],
      "credentials": {
        "openRouterApi": {
          "id": "crHqCGLvcnKGMEZi",
          "name": "Mirador OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Validate Payload').first().json.session_id }}",
        "tableName": "mirador_chat_history",
        "contextWindowLength": 10
      },
      "id": "postgres-memory",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        680,
        500
      ],
      "credentials": {
        "postgres": {
          "id": "gKtQrCdcY2E8edN4",
          "name": "Mirador Supabase Postgres"
        }
      }
    },
    {
      "parameters": {
        "name": "mostrar_master_plan",
        "description": "Muestra el master plan (distribucion) del proyecto Mirador de Villarrica como imagen. Usalo cuando el lead pida ver el plano, la distribucion, o donde estan ubicadas las parcelas. No requiere parametros.",
        "workflowId": {
          "__rl": true,
          "value": "SURT3H0n5n9mqb5O",
          "mode": "id"
        }
      },
      "id": "tool-master-plan",
      "name": "Tool mostrar_master_plan",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        800,
        520
      ]
    },
    {
      "parameters": {
        "name": "mostrar_galeria",
        "description": "Abre una galeria flotante en el widget con 6 fotos del entorno del proyecto. Usala cuando el lead pida ver fotos, imagenes, galeria o quiera conocer el entorno/paisaje. No requiere parametros. La galeria se abre automaticamente en el widget - solo avisa al lead que ya la abriste y describe brevemente lo que vera.",
        "workflowId": {
          "__rl": true,
          "value": "vsRCsE9Osgc1Qfdw",
          "mode": "id"
        }
      },
      "id": "tool-galeria",
      "name": "Tool mostrar_galeria",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        920,
        520
      ]
    },
    {
      "parameters": {
        "name": "mostrar_tour360",
        "description": "Muestra el tour virtual 360\u00b0 del proyecto Mirador de Villarrica como una tarjeta flotante en el chat. Usala cuando el lead pida ver el tour, recorrido virtual, paseo 360, o quiera explorar el proyecto desde su dispositivo. No requiere parametros. La tarjeta aparece en el chat con un boton 'Abrir tour 360\u00b0' que el lead debe presionar para iniciar el recorrido.",
        "workflowId": {
          "__rl": true,
          "value": "wpung11jB88uBaGV",
          "mode": "id"
        }
      },
      "id": "tool-tour360",
      "name": "Tool mostrar_tour360",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1040,
        520
      ]
    },
    {
      "parameters": {
        "name": "consultar_disponibilidad",
        "description": "Consulta el inventario EN VIVO (Google Sheet de Terra Segura) y el valor UF del dia. Invocala en CADA turno donde el lead pregunte por precios, disponibilidad, lotes, financiamiento, cuotas, recomendaciones o alternativas. Dos modos de uso: (1) si el lead menciona un lote concreto, pasa numero='1'..'74' o 'B1'..'B20' y recibis la info completa de ese lote; (2) si el lead NO menciona un lote, pasa numero='' (string vacio) y recibis TODAS las parcelas disponibles con su info completa para poder recomendar. Cada parcela retornada incluye: estado, tamano_m2, precio_contado, descuento_pct, precio_credito, pie_minimo_50pct, cuota_mensual_uf (36 cuotas en UF) y cuota_mensual_clp (equivalente al UF de hoy). SIEMPRE llamala antes de afirmar cualquier precio, cuota o disponibilidad.",
        "workflowId": {
          "__rl": true,
          "value": "Xa432ZfJ7y0M8iw2",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "numero": "={{ $fromAI('numero', \"Numero del lote si el lead pregunta por uno especifico: '1'..'74' (parcelas numeradas) o 'B1'..'B20' (lotes de ampliacion). Si el lead NO menciona un lote concreto, pasa string vacio '' para recibir TODAS las parcelas disponibles y poder recomendar.\", 'string') }}"
          },
          "schema": [
            {
              "id": "numero",
              "type": "string",
              "required": true,
              "displayName": "numero",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ]
        }
      },
      "id": "tool-consultar-disponibilidad",
      "name": "Tool consultar_disponibilidad",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1040,
        520
      ]
    },
    {
      "parameters": {
        "name": "enviar_brochure",
        "description": "Envia al lead el brochure PDF + inventario detallado en vivo + una recomendacion personalizada por WhatsApp o correo electronico. Usala cuando el lead acepte recibir el material. IMPORTANTE: antes de llamarla DEBES haber llamado consultar_disponibilidad al menos una vez en la conversacion para poder hacer la recomendacion. El parametro 'recomendacion' debe ser un texto personalizado de 2-4 oraciones que conecte lo que sabes del lead (intencion, plazo, presupuesto, tamano buscado) con 2-3 parcelas concretas del inventario (numeros, precios, destacadas). Requiere: canal (whatsapp|email) + contacto + nombre + recomendacion.",
        "workflowId": {
          "__rl": true,
          "value": "aDaCZ300mSJWFY6e",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "canal": "={{ $fromAI('canal', \"Canal de envio: 'whatsapp' o 'email'\", 'string') }}",
            "contacto": "={{ $fromAI('contacto', 'Numero de telefono (con codigo pais +56...) si canal es whatsapp, o direccion de correo electronico si canal es email', 'string') }}",
            "nombre": "={{ $fromAI('nombre', 'Nombre del lead para personalizar el envio', 'string') }}",
            "recomendacion": "={{ $fromAI('recomendacion', 'Texto personalizado de 2-4 oraciones con tu recomendacion para este lead, basada en lo que sabes de el (intencion, plazo, presupuesto, tamano) y en las parcelas concretas del inventario que viste al llamar consultar_disponibilidad. Menciona 2-3 numeros de parcela especificos, precio y por que calzan con su perfil. Ej: \"Considerando su interes por inversion con presupuesto contado hasta $20M, le recomiendo especialmente las parcelas destacadas 9 y 16, ambas de 5.000 m2 con 17% de descuento ($14.49M contado). Si busca mas tamano, la parcela 47 de 10.000 m2 a $21.99M es una muy buena opcion premium.\"', 'string') }}"
          },
          "schema": [
            {
              "id": "canal",
              "type": "string",
              "required": true,
              "displayName": "canal",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "contacto",
              "type": "string",
              "required": true,
              "displayName": "contacto",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "nombre",
              "type": "string",
              "required": true,
              "displayName": "nombre",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "recomendacion",
              "type": "string",
              "required": true,
              "displayName": "recomendacion",
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ]
        }
      },
      "id": "tool-enviar-brochure",
      "name": "Tool enviar_brochure",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1160,
        520
      ]
    },
    {
      "parameters": {
        "name": "calificar_lead",
        "description": "Califica y registra al lead con score BANT+ 0-100. USALA UNA SOLA VEZ POR SESION, cuando tengas TODOS los datos minimos: nombre + (whatsapp o email) + al menos 3 de 4 senales (plazo, rango_presupuesto, forma_pago, uso). Si faltan datos, la tool retorna ok:false con la lista de faltantes — usa actualizar_datos_lead para ir guardando progresivamente antes de llamar a esta. Valores: uso=vivienda|segunda|inversion|no_definido | plazo=ahora|1_a_3_meses|3_a_6_meses|6_a_12_meses|mas_de_1_ano|no_definido | forma_pago=contado|credito|subsidio|mixto|no_definido | rango_presupuesto='<20M'|'20-40M'|'40-60M'|'>60M'|no_definido | decisor=solo|pareja|familia|no_definido | pre_aprobacion=true|false.",
        "workflowId": {
          "__rl": true,
          "value": "ILXLExvJIJDu8KED",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "nombre": "={{ $fromAI('nombre', 'Nombre del lead', 'string') }}",
            "apellido": "={{ $fromAI('apellido', 'Apellido del lead o vacio si no se dio', 'string', '') }}",
            "whatsapp": "={{ $fromAI('whatsapp', 'WhatsApp del lead con codigo pais (+56...) o vacio si no se dio', 'string', '') }}",
            "email": "={{ $fromAI('email', 'Email del lead o vacio si no se dio', 'string', '') }}",
            "plazo": "={{ $fromAI('plazo', 'Uno de: ahora, 1_a_3_meses, 3_a_6_meses, 6_a_12_meses, mas_de_1_ano, no_definido', 'string') }}",
            "uso": "={{ $fromAI('uso', 'Uso previsto del terreno. Uno de: vivienda (vivir permanente), segunda (segunda vivienda/casa de descanso), inversion, no_definido', 'string') }}",
            "forma_pago": "={{ $fromAI('forma_pago', 'Forma de pago prevista. Uno de: contado, credito, subsidio, mixto, no_definido', 'string') }}",
            "pre_aprobacion": "={{ $fromAI('pre_aprobacion', 'true solo si el lead dijo explicitamente que tiene pre-aprobacion bancaria. Solo aplica si forma_pago=credito.', 'boolean', false) }}",
            "decisor": "={{ $fromAI('decisor', 'Quien toma la decision de compra. Uno de: solo, pareja, familia, no_definido', 'string', 'no_definido') }}",
            "rango_presupuesto": "={{ $fromAI('rango_presupuesto', \"Rango de presupuesto en CLP. Uno de: '<20M', '20-40M', '40-60M', '>60M', 'no_definido'. Mapea segun lo que el lead dijo (ej: '30 millones' => '20-40M').\", 'string') }}",
            "intencion": "={{ $fromAI('intencion', 'Legacy (compat v2). Uno de: inversion, segunda_vivienda, vivir_permanente, evaluando, no_definido. Si ya pasaste uso, puedes dejar vacio.', 'string', '') }}",
            "presupuesto": "={{ $fromAI('presupuesto', 'Legacy (compat v2). Uno de: contado, credito, no_definido. Si ya pasaste forma_pago, puedes dejar vacio.', 'string', '') }}",
            "resumen_conversacion": "={{ $fromAI('resumen_conversacion', 'Resumen de 2-3 lineas de la conversacion y el interes del lead', 'string') }}",
            "session_id": "={{ $('Validate Payload').first().json.session_id }}",
            "override_caliente": "={{ $fromAI('override_caliente', 'true solo si el lead pidio hablar con alguien del equipo YA explicitamente. Preferi usar solicitar_broker en vez de este.', 'boolean', false) }}"
          },
          "schema": [
            { "id": "nombre", "type": "string", "required": true, "displayName": "nombre", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "apellido", "type": "string", "required": false, "displayName": "apellido", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "whatsapp", "type": "string", "required": false, "displayName": "whatsapp", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "email", "type": "string", "required": false, "displayName": "email", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "plazo", "type": "string", "required": true, "displayName": "plazo", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "uso", "type": "string", "required": true, "displayName": "uso", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "forma_pago", "type": "string", "required": true, "displayName": "forma_pago", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "pre_aprobacion", "type": "boolean", "required": false, "displayName": "pre_aprobacion", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "decisor", "type": "string", "required": false, "displayName": "decisor", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "rango_presupuesto", "type": "string", "required": true, "displayName": "rango_presupuesto", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "intencion", "type": "string", "required": false, "displayName": "intencion", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "presupuesto", "type": "string", "required": false, "displayName": "presupuesto", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "resumen_conversacion", "type": "string", "required": true, "displayName": "resumen_conversacion", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "session_id", "type": "string", "required": true, "displayName": "session_id", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "override_caliente", "type": "boolean", "required": false, "displayName": "override_caliente", "defaultMatch": false, "display": true, "canBeUsedToMatch": true }
          ]
        }
      },
      "id": "tool-calificar",
      "name": "Tool calificar_lead",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1280,
        520
      ]
    },
    {
      "parameters": {
        "name": "actualizar_datos_lead",
        "description": "Guarda de forma incremental los datos del lead en la base de datos. USALA cada vez que el lead revele un dato nuevo del perfil (uso, plazo, presupuesto, forma_pago, decisor, pre_aprobacion, nombre, contacto). Puedes llamarla tantas veces como quieras durante la conversacion. Solo session_id es obligatorio, el resto son opcionales — pasa solo los campos que captaste en este turno. NO retorna texto al usuario (es silenciosa). Valores validos iguales a calificar_lead: uso=vivienda|segunda|inversion|no_definido | plazo=ahora|1_a_3_meses|3_a_6_meses|6_a_12_meses|mas_de_1_ano|no_definido | forma_pago=contado|credito|subsidio|mixto|no_definido | rango_presupuesto='<20M'|'20-40M'|'40-60M'|'>60M'|no_definido | decisor=solo|pareja|familia|no_definido.",
        "workflowId": {
          "__rl": true,
          "value": "Bj9iqnWSvtIyHyaA",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Validate Payload').first().json.session_id }}",
            "nombre": "={{ $fromAI('nombre', 'Nombre del lead o cadena vacia si no se capto en este turno', 'string', '') }}",
            "apellido": "={{ $fromAI('apellido', 'Apellido del lead o cadena vacia', 'string', '') }}",
            "whatsapp": "={{ $fromAI('whatsapp', 'WhatsApp con codigo pais o cadena vacia', 'string', '') }}",
            "email": "={{ $fromAI('email', 'Email o cadena vacia', 'string', '') }}",
            "plazo": "={{ $fromAI('plazo', 'Plazo de compra si se menciono este turno. Uno de: ahora, 1_a_3_meses, 3_a_6_meses, 6_a_12_meses, mas_de_1_ano, no_definido. O cadena vacia si no aplica.', 'string', '') }}",
            "uso": "={{ $fromAI('uso', 'Uso del terreno si se menciono: vivienda, segunda, inversion, no_definido. O cadena vacia.', 'string', '') }}",
            "forma_pago": "={{ $fromAI('forma_pago', 'Forma de pago: contado, credito, subsidio, mixto, no_definido. O cadena vacia.', 'string', '') }}",
            "pre_aprobacion": "={{ $fromAI('pre_aprobacion', 'true solo si dijo explicitamente que tiene pre-aprobacion bancaria, false si explicito que no, o null si no se menciono', 'boolean', false) }}",
            "decisor": "={{ $fromAI('decisor', 'solo, pareja, familia, no_definido. O cadena vacia.', 'string', '') }}",
            "rango_presupuesto": "={{ $fromAI('rango_presupuesto', \"Rango en CLP: '<20M', '20-40M', '40-60M', '>60M', 'no_definido'. O cadena vacia.\", 'string', '') }}",
            "resumen": "={{ $fromAI('resumen', 'Notas breves sobre lo capturado este turno o cadena vacia', 'string', '') }}"
          },
          "schema": [
            { "id": "session_id", "type": "string", "required": true, "displayName": "session_id", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "nombre", "type": "string", "required": false, "displayName": "nombre", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "apellido", "type": "string", "required": false, "displayName": "apellido", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "whatsapp", "type": "string", "required": false, "displayName": "whatsapp", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "email", "type": "string", "required": false, "displayName": "email", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "plazo", "type": "string", "required": false, "displayName": "plazo", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "uso", "type": "string", "required": false, "displayName": "uso", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "forma_pago", "type": "string", "required": false, "displayName": "forma_pago", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "pre_aprobacion", "type": "boolean", "required": false, "displayName": "pre_aprobacion", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "decisor", "type": "string", "required": false, "displayName": "decisor", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "rango_presupuesto", "type": "string", "required": false, "displayName": "rango_presupuesto", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "resumen", "type": "string", "required": false, "displayName": "resumen", "defaultMatch": false, "display": true, "canBeUsedToMatch": true }
          ]
        }
      },
      "id": "tool-actualizar-datos",
      "name": "Tool actualizar_datos_lead",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1400,
        520
      ]
    },
    {
      "parameters": {
        "name": "solicitar_broker",
        "description": "Deriva al lead al equipo de ventas humano (broker). USALA cuando: (1) el lead pida explicitamente hablar con asesor/humano/vendedor; (2) no puedas resolver una duda con tu KB + tools (condiciones especiales, reglamentos, orientacion exacta de lotes, etc); (3) score alto + datos completos + interes claro de avanzar — ofreceselo proactivamente antes de invocar. La tool actualiza el lead como CALIENTE, marca broker_requested_at, notifica al equipo por WhatsApp con el perfil completo + motivo y contexto, y retorna el texto de cierre para el lead. motivo: 'lead_solicito' | 'bot_no_pudo_resolver' | 'score_alto_proactivo'. contexto: 1-2 oraciones explicando por que.",
        "workflowId": {
          "__rl": true,
          "value": "dI5Sl4Zzl8AR8l0k",
          "mode": "id"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "session_id": "={{ $('Validate Payload').first().json.session_id }}",
            "motivo": "={{ $fromAI('motivo', \"Motivo del handoff. Uno de: 'lead_solicito' (lead pidio explicito), 'bot_no_pudo_resolver' (no tengo info o herramienta para responder), 'score_alto_proactivo' (score alto + lead confirmo querer avanzar).\", 'string') }}",
            "contexto": "={{ $fromAI('contexto', 'Contexto breve (1-2 oraciones) para que el asesor sepa por que se deriva y que prioridad hay. Ej: \"Quiere coordinar visita presencial en mayo, tiene presupuesto contado.\"', 'string') }}"
          },
          "schema": [
            { "id": "session_id", "type": "string", "required": true, "displayName": "session_id", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "motivo", "type": "string", "required": true, "displayName": "motivo", "defaultMatch": false, "display": true, "canBeUsedToMatch": true },
            { "id": "contexto", "type": "string", "required": true, "displayName": "contexto", "defaultMatch": false, "display": true, "canBeUsedToMatch": true }
          ]
        }
      },
      "id": "tool-solicitar-broker",
      "name": "Tool solicitar_broker",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1520,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "const agentData = $json;\nlet reply = (agentData.output || agentData.text || '').toString();\n// Sanitize: remove zero-width chars (modelo free a veces los emite)\nreply = reply.replace(/[\\u200B-\\u200D\\uFEFF\\u2060]/g, '');\nreply = reply.replace(/\\s{3,}/g, ' ').trim();\nif (reply.length < 3) {\n  reply = 'Te comparto la informacion solicitada.';\n}\nconst attachments = [];\nconst steps = agentData.intermediateSteps || [];\n\nfunction pushAttachment(p) {\n  if (!p || typeof p !== 'object') return;\n  if (p.type === 'image' && p.url) {\n    attachments.push({ type: 'image', url: p.url, caption: p.caption });\n  } else if (p.type === 'image_floating' && p.url) {\n    attachments.push({ type: 'image_floating', url: p.url, caption: p.caption, title: p.title });\n  } else if (p.type === 'gallery' && Array.isArray(p.images)) {\n    attachments.push({ type: 'gallery', images: p.images });\n  } else if (p.type === 'gallery_floating' && Array.isArray(p.images)) {\n    attachments.push({ type: 'gallery_floating', images: p.images, caption: p.caption });\n  } else if (p.type === 'masterplan_floating' && p.url) {\n    attachments.push({ type: 'masterplan_floating', url: p.url, caption: p.caption, title: p.title });\n  } else if (p.type === 'tour360_floating' && p.url) {\n    attachments.push({ type: 'tour360_floating', url: p.url, caption: p.caption, title: p.title, poster: p.poster });\n  } else if (p.type === 'whatsapp_link' && p.url) {\n    attachments.push({ type: 'whatsapp_link', url: p.url, label: p.label || 'Hablar con equipo de ventas por WhatsApp' });\n  }\n}\n\nfor (const step of steps) {\n  const obs = step.observation ?? step.toolOutput ?? step;\n  let parsed = obs;\n  if (typeof obs === 'string') {\n    try { parsed = JSON.parse(obs); } catch { continue; }\n  }\n  if (Array.isArray(parsed)) {\n    for (const item of parsed) {\n      const unwrapped = item && item.json ? item.json : item;\n      pushAttachment(unwrapped);\n    }\n  } else {\n    const unwrapped = parsed && parsed.json ? parsed.json : parsed;\n    pushAttachment(unwrapped);\n  }\n}\nreturn [{ json: { reply, attachments } }];"
      },
      "id": "extract-attachments",
      "name": "Extract Attachments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $('Extract Attachments').first().json.reply, attachments: $('Extract Attachments').first().json.attachments, session_id: $('Validate Payload').first().json.session_id }) }}"
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Get Published Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extract Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Attachments": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool mostrar_tour360": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool mostrar_master_plan": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool mostrar_galeria": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool consultar_disponibilidad": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool enviar_brochure": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool calificar_lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool actualizar_datos_lead": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool solicitar_broker": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Published Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}