n8n-workflows/tool_calificar_lead.json
{
  "name": "[Tool] Mirador - calificar_lead",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"nombre\": \"Juan\",\n  \"apellido\": \"Perez\",\n  \"whatsapp\": \"+56912345678\",\n  \"email\": \"juan@ejemplo.cl\",\n  \"intencion\": \"inversion\",\n  \"plazo\": \"1_a_3_meses\",\n  \"presupuesto\": \"contado\",\n  \"resumen_conversacion\": \"Interesado en parcelas cerca del volcan\",\n  \"session_id\": \"uuid-del-session\",\n  \"override_caliente\": false\n}"
      },
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Scoring determinista segun spec.\nfunction computeScore({ intencion, plazo, presupuesto, override_caliente }) {\n  if (override_caliente) return 'CALIENTE';\n  const plazoHot = ['ahora', '1_a_3_meses'].includes(plazo);\n  const plazoWarm = ['3_a_6_meses', '6_a_12_meses'].includes(plazo);\n  const intencionDef = intencion && intencion !== 'no_definido' && intencion !== 'evaluando';\n  const presupuestoDef = presupuesto && presupuesto !== 'no_definido';\n  if (plazoHot && intencionDef && presupuestoDef) return 'CALIENTE';\n  if (plazoHot && (intencionDef || presupuestoDef)) return 'CALIENTE';\n  if (plazoWarm && intencionDef && presupuestoDef) return 'TIBIO';\n  if (plazoWarm) return 'TIBIO';\n  return 'FRIO';\n}\n\nconst d = $json;\nconst score = computeScore({\n  intencion: d.intencion,\n  plazo: d.plazo,\n  presupuesto: d.presupuesto,\n  override_caliente: !!d.override_caliente,\n});\n\n// Validaciones minimas\nif (!d.nombre || typeof d.nombre !== 'string' || d.nombre.length < 1) {\n  throw new Error('nombre requerido');\n}\nif (!d.session_id) {\n  throw new Error('session_id requerido');\n}\n\n// Concatenar nombre + apellido para almacenamiento\nconst nombreCompleto = [d.nombre, d.apellido].filter(Boolean).join(' ').trim().slice(0, 150);\n\nreturn [{ json: {\n  session_id: d.session_id,\n  nombre: nombreCompleto,\n  whatsapp: d.whatsapp ? d.whatsapp.toString().slice(0, 30) : null,\n  email: d.email ? d.email.toString().slice(0, 120) : null,\n  intencion: d.intencion || 'no_definido',\n  plazo: d.plazo || 'no_definido',\n  presupuesto: d.presupuesto || 'no_definido',\n  resumen: (d.resumen_conversacion || '').toString().slice(0, 800),\n  score,\n} }];"
      },
      "id": "score",
      "name": "Compute Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://segllewycyscyenvqtes.supabase.co/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates,return=representation" },
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlZ2xsZXd5Y3lzY3llbnZxdGVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI1NDg1MCwiZXhwIjoyMDkxODMwODUwfQ.NuKXzAXPeENkmjxRYpX_5faw5JOP32bvgZRL284dJHI" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlZ2xsZXd5Y3lzY3llbnZxdGVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI1NDg1MCwiZXhwIjoyMDkxODMwODUwfQ.NuKXzAXPeENkmjxRYpX_5faw5JOP32bvgZRL284dJHI" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ session_id: $json.session_id, nombre: $json.nombre, whatsapp: $json.whatsapp, email: $json.email, intencion: $json.intencion, plazo: $json.plazo, presupuesto: $json.presupuesto, score: $json.score, resumen: $json.resumen }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "upsert-lead",
      "name": "Upsert Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const scored = $('Compute Score').first().json;\nconst upsertResponse = $json;\nlet lead_id = null;\nif (Array.isArray(upsertResponse) && upsertResponse.length > 0) {\n  lead_id = upsertResponse[0].id;\n} else if (upsertResponse.id) {\n  lead_id = upsertResponse.id;\n}\n\nreturn [{ json: {\n  lead_id,\n  score: scored.score,\n  nombre: scored.nombre,\n  whatsapp: scored.whatsapp,\n  email: scored.email,\n  intencion: scored.intencion,\n  plazo: scored.plazo,\n  presupuesto: scored.presupuesto,\n  resumen: scored.resumen,\n  session_id: scored.session_id,\n} }];"
      },
      "id": "prep-notif",
      "name": "Prepare Notif Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "workflowId": { "__rl": true, "value": "9szkCBiLiSGJZMFz", "mode": "id" },
        "mode": "each",
        "options": {}
      },
      "id": "call-notif",
      "name": "Call notificar_equipo",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "jsCode": "const scored = $('Compute Score').first().json;\nconst prepared = $('Prepare Notif Payload').first().json;\nconst notif = $json;\n\nconst primerNombre = scored.nombre.split(' ')[0];\n\nreturn [{ json: {\n  lead_id: prepared.lead_id,\n  score: scored.score,\n  notificado: !!notif.notified,\n  tool_output_text: scored.score === 'CALIENTE'\n    ? `Listo, ${primerNombre}. Ya le pase tu informacion al equipo de ventas. Te van a escribir por WhatsApp en las proximas horas (lun-vie 9-19). Si quieres adelantarte, tambien puedes escribirles tu al +56 9 4032 9987.`\n    : scored.score === 'TIBIO'\n      ? `Genial, ${primerNombre}. Le paso tu info al equipo de ventas para que te envien la propuesta. Si aun no tienes el brochure, te lo puedo enviar por WhatsApp o correo ahora mismo.`\n      : `Gracias ${primerNombre}. Dejo tu info registrada. Aqui queda mi canal abierto — cuando estes mas cerca de decidir, vuelves cuando quieras.`,\n} }];"
      },
      "id": "final-output",
      "name": "Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Compute Score", "type": "main", "index": 0 }]] },
    "Compute Score": { "main": [[{ "node": "Upsert Lead", "type": "main", "index": 0 }]] },
    "Upsert Lead": { "main": [[{ "node": "Prepare Notif Payload", "type": "main", "index": 0 }]] },
    "Prepare Notif Payload": { "main": [[{ "node": "Call notificar_equipo", "type": "main", "index": 0 }]] },
    "Call notificar_equipo": { "main": [[{ "node": "Final Output", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
