n8n-workflows/tool_notificar_diego.json
{
  "name": "[Tool] Mirador - notificar_diego",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"lead_id\": \"uuid\",\n  \"score\": \"CALIENTE\",\n  \"nombre\": \"Juan\",\n  \"whatsapp\": \"+56912345678\",\n  \"email\": \"juan@ejemplo.cl\",\n  \"intencion\": \"inversion\",\n  \"plazo\": \"1_a_3_meses\",\n  \"presupuesto\": \"contado\",\n  \"resumen\": \"Interesado en parcelas cerca del volcán, paga contado\",\n  \"session_id\": \"uuid\"\n}"
      },
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\n\nconst LABELS_INTENCION = {\n  inversion: 'Inversión',\n  segunda_vivienda: 'Segunda vivienda',\n  vivir_permanente: 'Vivir permanente',\n  evaluando: 'Evaluando',\n  no_definido: 'No definido',\n};\nconst LABELS_PLAZO = {\n  ahora: 'Ahora',\n  '1_a_3_meses': '1 a 3 meses',\n  '3_a_6_meses': '3 a 6 meses',\n  '6_a_12_meses': '6 a 12 meses',\n  'mas_de_1_ano': 'Más de 1 año',\n  no_definido: 'No definido',\n};\nconst LABELS_PRESUPUESTO = {\n  contado: 'Contado',\n  credito: 'Crédito',\n  no_definido: 'No definido',\n};\n\nconst emoji = d.score === 'CALIENTE' ? '🟢' : d.score === 'TIBIO' ? '🟡' : '🔵';\nconst titulo = d.score === 'CALIENTE' ? 'NUEVO LEAD CALIENTE' : d.score === 'TIBIO' ? 'NUEVO LEAD TIBIO' : 'NUEVO LEAD FRÍO';\n\nconst texto = [\n  `${emoji} ${titulo} — Mirador Villarrica`,\n  '',\n  `👤 ${d.nombre || 'Sin nombre'}`,\n  d.whatsapp ? `📱 ${d.whatsapp}` : null,\n  d.email ? `📧 ${d.email}` : null,\n  '',\n  `🎯 ${LABELS_INTENCION[d.intencion] || d.intencion || '—'}`,\n  `📅 ${LABELS_PLAZO[d.plazo] || d.plazo || '—'}`,\n  `💰 ${LABELS_PRESUPUESTO[d.presupuesto] || d.presupuesto || '—'}`,\n  '',\n  d.resumen ? `📝 ${d.resumen}` : '',\n  '',\n  `🔗 Sesión: ${d.session_id || '-'}`,\n].filter(Boolean).join('\\n');\n\n// Número destino: Hugo (desarrollo). Cambiar a 56940329987 (Diego) en go-live.\nreturn [{ json: {\n  text: texto,\n  number: '56992533044',\n  lead_id: d.lead_id,\n  session_id: d.session_id,\n  skip_send: d.score === 'FRIO', // solo FRÍO no notifica\n} }];"
      },
      "id": "build-msg",
      "name": "Build Notification Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "version": 2, "caseSensitive": true, "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.skip_send }}",
              "rightValue": false,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "check-skip",
      "name": "Skip FRIO?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.17.0.1:8080/message/sendText/Hugo Vargas Cubelli",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "apikey", "value": "429683C4C977415CAAFCCE10F7D57E11" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.number, text: $json.text }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "evolution-send",
      "name": "Evolution API Send",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://segllewycyscyenvqtes.supabase.co/rest/v1/leads?id=eq.{{ $('Build Notification Text').first().json.lead_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" },
            { "name": "apikey", "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlZ2xsZXd5Y3lzY3llbnZxdGVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI1NDg1MCwiZXhwIjoyMDkxODMwODUwfQ.NuKXzAXPeENkmjxRYpX_5faw5JOP32bvgZRL284dJHI" },
            { "name": "Authorization", "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlZ2xsZXd5Y3lzY3llbnZxdGVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI1NDg1MCwiZXhwIjoyMDkxODMwODUwfQ.NuKXzAXPeENkmjxRYpX_5faw5JOP32bvgZRL284dJHI" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ notified_diego: true, notified_at: new Date().toISOString() }) }}",
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "mark-notified",
      "name": "Mark lead notified",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { notified: true, status: 'ok' } }];"
      },
      "id": "ok-output",
      "name": "Return OK",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { notified: false, status: 'skipped_frio' } }];"
      },
      "id": "skipped-output",
      "name": "Return Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": { "main": [[{ "node": "Build Notification Text", "type": "main", "index": 0 }]] },
    "Build Notification Text": { "main": [[{ "node": "Skip FRIO?", "type": "main", "index": 0 }]] },
    "Skip FRIO?": {
      "main": [
        [{ "node": "Evolution API Send", "type": "main", "index": 0 }],
        [{ "node": "Return Skipped", "type": "main", "index": 0 }]
      ]
    },
    "Evolution API Send": { "main": [[{ "node": "Mark lead notified", "type": "main", "index": 0 }]] },
    "Mark lead notified": { "main": [[{ "node": "Return OK", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
