n8n-workflows/tool_enviar_brochure.json
{
  "name": "[Tool] Mirador - enviar_brochure",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"canal\": \"whatsapp\",\n  \"contacto\": \"+56912345678\",\n  \"nombre\": \"Juan\",\n  \"recomendacion\": \"En base a su interes por inversion con presupuesto contado hasta $20M, le recomendamos las parcelas destacadas 9 y 16 con 17% de descuento.\"\n}"
      },
      "id": "trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst BROCHURE_URL = 'https://mirador-villarrica-chatbot-pruebasn8ncub-6852s-projects.vercel.app/brochure/mirador-villarrica-brochure.pdf';\nconst SHEET_URL = 'https://docs.google.com/spreadsheets/d/1gtqd1Xb6Yr3g3myw0nnJDsnZUSybQYS9aFAEJWaPqhQ/edit?gid=1975618999#gid=1975618999';\nconst LOCATION_URL = 'https://www.google.com/maps/place/39%C2%B000%2752.4%22S+72%C2%B007%2740.8%22W/@-39.014561,-72.1305769,677m/data=!3m2!1e3!4b1!4m4!3m3!8m2!3d-39.014561!4d-72.128002';\nconst TOUR_URL = 'https://lanube360.com/mirador-de-villarrica/';\n\nconst canal = (d.canal || '').toString().toLowerCase().trim();\nif (!['whatsapp', 'email'].includes(canal)) {\n  return [{ json: {\n    tool_output_text: 'No pude enviar el brochure: el canal debe ser whatsapp o email. Preguntale al lead por cual prefiere recibirlo.',\n    success: false,\n    is_valid: false,\n  } }];\n}\n\nconst contacto = (d.contacto || '').toString().trim();\nif (!contacto) {\n  return [{ json: {\n    tool_output_text: 'No pude enviar el brochure: falta el dato de contacto. Pide el numero de WhatsApp o correo electronico al lead.',\n    success: false,\n    is_valid: false,\n  } }];\n}\n\nconst nombre = (d.nombre || 'Cliente').toString().trim();\nconst recomendacion = (d.recomendacion || '').toString().trim();\n\nlet phoneClean = '';\nif (canal === 'whatsapp') {\n  phoneClean = contacto.replace(/[^0-9]/g, '');\n  if (phoneClean.startsWith('9') && phoneClean.length === 9) phoneClean = '56' + phoneClean;\n  if (phoneClean.length < 10) {\n    return [{ json: {\n      tool_output_text: 'El numero de telefono no parece valido. Confirma el numero con el lead e intenta de nuevo.',\n      success: false,\n      is_valid: false,\n    } }];\n  }\n}\n\nif (canal === 'email') {\n  const emailRe = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n  if (!emailRe.test(contacto)) {\n    return [{ json: {\n      tool_output_text: 'El correo electronico no parece valido. Confirma la direccion con el lead e intenta de nuevo.',\n      success: false,\n      is_valid: false,\n    } }];\n  }\n}\n\nreturn [{ json: {\n  canal,\n  contacto,\n  nombre,\n  recomendacion,\n  phone_clean: phoneClean,\n  brochure_url: BROCHURE_URL,\n  sheet_url: SHEET_URL,\n  location_url: LOCATION_URL,\n  tour_url: TOUR_URL,\n  is_valid: true,\n} }];"
      },
      "id": "validate",
      "name": "Validate & Prepare",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.is_valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-valid",
      "name": "Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.canal }}",
              "rightValue": "whatsapp",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "route-canal",
      "name": "WhatsApp or Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.17.0.1:8080/message/sendMedia/Hugo Vargas Cubelli",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ number: $json.phone_clean, mediatype: 'document', media: $json.brochure_url, fileName: 'Mirador-de-Villarrica-Brochure.pdf', caption: 'Brochure oficial \\u2014 Mirador de Villarrica | Terra Segura Inmobiliaria' }) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "wa-send-pdf",
      "name": "Evolution Send PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://172.17.0.1:8080/message/sendText/Hugo Vargas Cubelli",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "429683C4C977415CAAFCCE10F7D57E11"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (function(){ const prep = $('Validate & Prepare').first().json; const lineas = ['*Informacion detallada del proyecto*', '', '📍 *Ubicacion exacta del proyecto:*', prep.location_url, '', '📋 *Inventario completo en vivo* (94 parcelas, precios, videos por parcela):', prep.sheet_url, '', '🎥 *Tour 360°* del proyecto:', prep.tour_url]; if (prep.recomendacion) { lineas.push('', '⭐ *Nuestra recomendacion para usted:*', prep.recomendacion); } lineas.push('', 'Cualquier consulta, escribanos al +56 9 4032 9987.'); return JSON.stringify({ number: prep.phone_clean, text: lineas.join('\\n') }); })() }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "wa-send-info",
      "name": "Evolution Send Info + Recomendacion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1340,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const nombre = $('Validate & Prepare').first().json.nombre;\nreturn [{ json: {\n  tool_output_text: `Listo, le envie el brochure completo de Mirador de Villarrica por WhatsApp a ${nombre}, junto con el inventario detallado en vivo y una recomendacion personalizada. Hay algo especifico del brochure o las parcelas que le gustaria que le explique?`,\n  sent_via: 'whatsapp',\n  success: true,\n} }];"
      },
      "id": "wa-output",
      "name": "WA Success Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        100
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://mirador-villarrica-chatbot-pruebasn8ncub-6852s-projects.vercel.app/brochure/mirador-villarrica-brochure.pdf",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-pdf",
      "name": "Download Brochure PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Validate & Prepare').first().json.contacto }}",
        "subject": "Brochure Mirador de Villarrica — Terra Segura Inmobiliaria",
        "emailType": "html",
        "message": "={{ (function(){ const prep = $('Validate & Prepare').first().json; const nombre = prep.nombre; const rec = prep.recomendacion; const sheet = prep.sheet_url; const loc = prep.location_url; const tour = prep.tour_url; const recHtml = rec ? ('<div style=\"background:#f4a84b14;border-left:4px solid #f4a84b;padding:16px;margin:20px 0;border-radius:4px;\">' + '<h3 style=\"margin:0 0 8px 0;color:#1a3d2e;font-size:16px;\">Nuestra recomendacion para usted</h3>' + '<p style=\"margin:0;color:#333;\">' + rec + '</p>' + '</div>') : ''; return '<div style=\"font-family:Arial,sans-serif;max-width:600px;margin:0 auto;color:#333;\">' + '<h2 style=\"color:#1a3d2e;\">Mirador de Villarrica</h2>' + '<p>Estimado/a ' + nombre + ',</p>' + '<p>Le adjuntamos el brochure oficial del proyecto <strong>Mirador de Villarrica</strong> de Terra Segura Inmobiliaria.</p>' + '<p>El proyecto cuenta con <strong>94 parcelas</strong> en <strong>80 hectareas</strong> en Colico, Region de La Araucania, con SAG aprobado y roles listos para inscripcion inmediata.</p>' + '<ul>' + '<li>Parcelas desde 5.000 m\\u00b2 hasta 1 hectarea</li>' + '<li>Precio contado desde $14.490.000 CLP</li>' + '<li>Credito directo desde $17.490.000 CLP (50% pie + 36 cuotas UF)</li>' + '<li>Reserva $500.000 CLP \\u2014 incluye Conservador, notaria, legal y certificados</li>' + '<li>Caminos estabilizados, bosque nativo, vistas al volcan Villarrica y Lago Colico</li>' + '</ul>' + recHtml + '<div style=\"background:#1a3d2e0a;border:1px solid #1a3d2e33;padding:16px;margin:20px 0;border-radius:4px;\">' + '<h3 style=\"margin:0 0 12px 0;color:#1a3d2e;font-size:16px;\">Recursos del proyecto</h3>' + '<p style=\"margin:0 0 10px 0;\"><a href=\"' + loc + '\" style=\"background:#1a3d2e;color:#fff;padding:10px 18px;text-decoration:none;border-radius:4px;display:inline-block;margin:4px 4px 4px 0;\">📍 Ver ubicacion exacta</a>' + '<a href=\"' + sheet + '\" style=\"background:#1a3d2e;color:#fff;padding:10px 18px;text-decoration:none;border-radius:4px;display:inline-block;margin:4px 4px 4px 0;\">📋 Inventario en vivo</a>' + '<a href=\"' + tour + '\" style=\"background:#1a3d2e;color:#fff;padding:10px 18px;text-decoration:none;border-radius:4px;display:inline-block;margin:4px 4px 4px 0;\">🎥 Tour 360°</a></p>' + '<p style=\"margin:10px 0 0 0;font-size:13px;color:#555;\">El inventario en vivo muestra la disponibilidad actualizada de las 94 parcelas, con precios contado y credito, tamanos y videos individuales por parcela.</p>' + '</div>' + '<p>Si tiene alguna consulta, no dude en contactarnos:</p>' + '<ul>' + '<li>WhatsApp: <a href=\"https://wa.me/56940329987\" style=\"color:#1a3d2e;\">+56 9 4032 9987</a></li>' + '<li>Email: diego@terrasegura.cl</li>' + '</ul>' + '<p>Saludos cordiales,<br/><strong>Equipo de Ventas</strong><br/>Terra Segura Inmobiliaria</p>' + '</div>'; })() }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "binaryPropertyName": "data"
              }
            ]
          }
        }
      },
      "id": "gmail-send",
      "name": "Gmail Send Brochure",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1340,
        300
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "12sHtnYC9mtyjrpQ",
          "name": "Gmail account"
        }
      },
      "webhookId": "cea9cbe3-bdb0-4172-8aa3-7a6b29b7e464"
    },
    {
      "parameters": {
        "jsCode": "const nombre = $('Validate & Prepare').first().json.nombre;\nreturn [{ json: {\n  tool_output_text: `Listo, le envie el brochure completo de Mirador de Villarrica por correo electronico a ${nombre}, junto con el inventario detallado en vivo y una recomendacion personalizada. Hay algo especifico del brochure o las parcelas que le gustaria que le explique?`,\n  sent_via: 'email',\n  success: true,\n} }];"
      },
      "id": "email-output",
      "name": "Email Success Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validation failed \\u2014 pass through the error tool_output_text\nreturn [{ json: $json }];"
      },
      "id": "error-output",
      "name": "Validation Error Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        420
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate & Prepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Prepare": {
      "main": [
        [
          {
            "node": "Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid?": {
      "main": [
        [
          {
            "node": "WhatsApp or Email?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Validation Error Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp or Email?": {
      "main": [
        [
          {
            "node": "Evolution Send PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Brochure PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution Send PDF": {
      "main": [
        [
          {
            "node": "Evolution Send Info + Recomendacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution Send Info + Recomendacion": {
      "main": [
        [
          {
            "node": "WA Success Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Brochure PDF": {
      "main": [
        [
          {
            "node": "Gmail Send Brochure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Send Brochure": {
      "main": [
        [
          {
            "node": "Email Success Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
