n8n-workflows/before-cleanup-2026-04-30/dI5Sl4Zzl8AR8l0k.json
[{"updatedAt":"2026-04-23T14:36:19.536Z","createdAt":"2026-04-20T22:08:25.213Z","id":"dI5Sl4Zzl8AR8l0k","name":"[Tool] Mirador - solicitar_broker","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"session_id\": \"uuid-del-session\",\n  \"motivo\": \"lead_solicito\",\n  \"nombre\": \"Juan Perez\",\n  \"email\": \"juan@ejemplo.cl\",\n  \"whatsapp\": \"+56912345678\",\n  \"resumen\": \"Le interesan las parcelas 47 y 74, quiere credito directo en 3 meses, segunda vivienda.\",\n  \"contexto\": \"Pidio explicitamente hablar con un asesor\"\n}"},"id":"trigger","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,300]},{"parameters":{"jsCode":"const d = $json;\n\nif (!d.session_id || typeof d.session_id !== 'string') {\n  throw new Error('session_id requerido');\n}\nconst UUID_RE = /^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$/i;\nif (!UUID_RE.test(d.session_id)) {\n  throw new Error('session_id debe ser UUID valido');\n}\n\nconst MOTIVO_ENUM = new Set(['lead_solicito', 'bot_no_pudo_resolver', 'score_alto_proactivo']);\nconst motivo = MOTIVO_ENUM.has(d.motivo) ? d.motivo : 'lead_solicito';\n\nconst clean = (v, max) => (v === undefined || v === null) ? '' : v.toString().trim().slice(0, max);\n\nreturn [{ json: {\n  session_id: d.session_id,\n  motivo,\n  nombre_agent: clean(d.nombre, 120),\n  email_agent: clean(d.email, 200),\n  whatsapp_agent: clean(d.whatsapp, 40),\n  resumen_agent: clean(d.resumen, 1200),\n  contexto: clean(d.contexto, 500),\n} }];"},"id":"validate","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,300]},{"parameters":{"method":"GET","url":"=https://segllewycyscyenvqtes.supabase.co/rest/v1/leads?session_id=eq.{{ $json.session_id }}&select=id,nombre,whatsapp,email,intencion,plazo,presupuesto,uso,forma_pago,rango_presupuesto,decisor,pre_aprobacion,resumen,score,score_numeric,score_history","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlZ2xsZXd5Y3lzY3llbnZxdGVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI1NDg1MCwiZXhwIjoyMDkxODMwODUwfQ.NuKXzAXPeENkmjxRYpX_5faw5JOP32bvgZRL284dJHI"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlZ2xsZXd5Y3lzY3llbnZxdGVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI1NDg1MCwiZXhwIjoyMDkxODMwODUwfQ.NuKXzAXPeENkmjxRYpX_5faw5JOP32bvgZRL284dJHI"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"fetch-current","name":"Fetch current lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[680,300]},{"parameters":{"jsCode":"const input = $('Validate Input').first().json;\nconst raw = $json;\n\n// n8n HTTP Request auto-unwraps Supabase single-row arrays into objects.\n// Accept both shapes: array with rows, or direct object with id.\nlet lead = null;\nif (Array.isArray(raw) && raw.length > 0) {\n  lead = raw[0];\n} else if (raw && typeof raw === 'object' && raw.id) {\n  lead = raw;\n}\n\nif (!lead) {\n  return [{ json: {\n    ok: false,\n    reason: 'lead_no_existe',\n    session_id: input.session_id,\n    skip_patch: true,\n    skip_notif: true,\n    patchBody: {},\n    notifPayload: { skip_send: true },\n    nombre: input.nombre_agent || '',\n    lead_id: null,\n    tool_output_text: 'No encontre tu registro de sesion. Por favor escribeme tu nombre, WhatsApp y correo para pasarle tus datos al equipo.',\n  } }];\n}\n\n// Agent-provided values override DB values (agent has fresh context from the conversation).\nconst nombre = input.nombre_agent || lead.nombre || '';\nconst email = input.email_agent || lead.email || '';\nconst whatsapp = input.whatsapp_agent || lead.whatsapp || '';\nconst resumen = input.resumen_agent || lead.resumen || '';\n\nconst prevHistory = Array.isArray(lead.score_history) ? lead.score_history : [];\nconst prevScoreNumeric = typeof lead.score_numeric === 'number' ? lead.score_numeric : 0;\nconst newScoreNumeric = Math.max(prevScoreNumeric, 75);\n\nconst historyEntry = {\n  at: new Date().toISOString(),\n  action: 'broker_requested',\n  motivo: input.motivo,\n  contexto: input.contexto,\n  score_numeric_before: prevScoreNumeric,\n  score_numeric_after: newScoreNumeric,\n};\n\nconst patchBody = {\n  broker_requested_at: new Date().toISOString(),\n  broker_request_reason: input.motivo,\n  score: 'CALIENTE',\n  score_numeric: newScoreNumeric,\n  score_history: [...prevHistory, historyEntry],\n  // Si el agente refrescó datos de contacto o resumen, los persistimos.\n  ...(input.nombre_agent ? { nombre } : {}),\n  ...(input.email_agent ? { email } : {}),\n  ...(input.whatsapp_agent ? { whatsapp } : {}),\n  ...(input.resumen_agent ? { resumen } : {}),\n};\n\nconst notifPayload = {\n  lead_id: lead.id,\n  session_id: input.session_id,\n  nombre,\n  whatsapp,\n  email,\n  resumen,\n  motivo: input.motivo,\n  contexto: input.contexto,\n  broker_request: true,\n};\n\nreturn [{ json: {\n  ok: true,\n  session_id: input.session_id,\n  lead_id: lead.id,\n  patchBody,\n  notifPayload,\n  nombre,\n  skip_patch: false,\n  skip_notif: false,\n} }];"},"id":"build-payloads","name":"Build payloads","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300]},{"parameters":{"method":"PATCH","url":"=https://segllewycyscyenvqtes.supabase.co/rest/v1/leads?session_id=eq.{{ $json.session_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"},{"name":"apikey","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlZ2xsZXd5Y3lzY3llbnZxdGVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI1NDg1MCwiZXhwIjoyMDkxODMwODUwfQ.NuKXzAXPeENkmjxRYpX_5faw5JOP32bvgZRL284dJHI"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNlZ2xsZXd5Y3lzY3llbnZxdGVzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI1NDg1MCwiZXhwIjoyMDkxODMwODUwfQ.NuKXzAXPeENkmjxRYpX_5faw5JOP32bvgZRL284dJHI"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.patchBody || {}) }}","options":{"response":{"response":{"neverError":true}}}},"id":"patch-lead","name":"PATCH lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,300]},{"parameters":{"jsCode":"const prev = $('Build payloads').first().json;\nreturn [{ json: prev.notifPayload }];"},"id":"prep-notif","name":"Prep notif payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[1340,300]},{"parameters":{"workflowId":{"__rl":true,"value":"9szkCBiLiSGJZMFz","mode":"id"},"mode":"each","options":{}},"id":"call-notif","name":"Call notificar_diego","type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1560,300]},{"parameters":{"jsCode":"const prepared = $('Build payloads').first().json;\nconst notif = $json;\n\nif (prepared.ok === false) {\n  return [{ json: {\n    ok: false,\n    reason: prepared.reason,\n    session_id: prepared.session_id,\n    tool_output_text: prepared.tool_output_text,\n  } }];\n}\n\nconst primerNombre = (prepared.nombre || '').split(' ')[0] || 'hola';\n\nreturn [{ json: {\n  ok: true,\n  lead_id: prepared.lead_id,\n  session_id: prepared.session_id,\n  broker_notificado: !!(notif && notif.notified),\n  tool_output_text: `Listo ${primerNombre}, le paso tu solicitud al equipo. Te van a contactar por WhatsApp en horario lun-vie 9-19 hrs. Si es urgente, tambien podes escribir al +56 9 4032 9987.`,\n} }];"},"id":"final-output","name":"Final Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1780,300]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Fetch current lead","type":"main","index":0}]]},"Fetch current lead":{"main":[[{"node":"Build payloads","type":"main","index":0}]]},"Build payloads":{"main":[[{"node":"PATCH lead","type":"main","index":0}]]},"PATCH lead":{"main":[[{"node":"Prep notif payload","type":"main","index":0}]]},"Prep notif payload":{"main":[[{"node":"Call notificar_diego","type":"main","index":0}]]},"Call notificar_diego":{"main":[[{"node":"Final Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"4a3966c2-d456-4b9d-ac7a-cff3252b8efe","activeVersionId":"4a3966c2-d456-4b9d-ac7a-cff3252b8efe","versionCounter":15,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-20T22:08:25.215Z","createdAt":"2026-04-20T22:08:25.215Z","role":"workflow:owner","workflowId":"dI5Sl4Zzl8AR8l0k","projectId":"30a6jRldjQxRfVCA","project":{"updatedAt":"2026-04-06T22:42:21.682Z","createdAt":"2026-04-06T22:39:53.588Z","id":"30a6jRldjQxRfVCA","name":"hugo vargas <hugo.vargas.cubelli@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ad6c5ea4-1002-413c-90ee-d986782c10f5"}}],"versionMetadata":{"name":null,"description":null}}]