n8n-workflows/before-cleanup-2026-04-30/FMUrg6cBHC2M6JhV.json
[{"updatedAt":"2026-04-23T19:45:25.535Z","createdAt":"2026-04-21T02:30:11.341Z","id":"FMUrg6cBHC2M6JhV","name":"[Tool] Mirador - enviar_resumen_personalizado","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"nombre\": \"Juan Perez\",\n  \"email\": \"juan@ejemplo.cl\",\n  \"whatsapp\": \"+56912345678\",\n  \"parcelas\": \"47,74\",\n  \"resumen\": \"Te interesan las parcelas 47 y 74, quieres comprar a credito directo en los proximos 3 meses para segunda vivienda.\"\n}"},"id":"trigger","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,224]},{"parameters":{"jsCode":"const d = $json;\n\n// parcelas: acepta array o string coma-separado\nlet parcelas = [];\nif (Array.isArray(d.parcelas)) parcelas = d.parcelas;\nelse if (typeof d.parcelas === 'string' && d.parcelas.trim()) parcelas = d.parcelas.split(/[,\\s]+/).filter(Boolean);\nparcelas = parcelas.map(p => String(p).toUpperCase().trim()).filter(Boolean);\n\nif (parcelas.length === 0) throw new Error('parcelas requerido (al menos una)');\n\nconst nombre = (d.nombre || '').toString().trim().slice(0, 120);\nconst resumen = (d.resumen || '').toString().trim().slice(0, 1500);\n\nif (!nombre) throw new Error('nombre requerido');\n\n// Canal se infiere de qué campos vienen con valor válido.\nconst emailRaw = (d.email || '').toString().trim();\nconst waRaw = (d.whatsapp || '').toString().trim();\n\nconst emailValidRe = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nconst email = emailRaw && emailValidRe.test(emailRaw) ? emailRaw : '';\n\nlet waClean = waRaw.replace(/[^0-9]/g, '');\nif (waClean.startsWith('9') && waClean.length === 9) waClean = '56' + waClean;\nconst whatsapp = waClean.length >= 10 ? waClean : '';\n\nif (!email && !whatsapp) throw new Error('email y/o whatsapp requerido');\n\nreturn [{ json: {\n  nombre,\n  email,\n  whatsapp,\n  parcelas,\n  resumen,\n  send_email: !!email,\n  send_whatsapp: !!whatsapp,\n} }];"},"id":"validate","name":"Validate Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[464,224]},{"parameters":{"url":"https://docs.google.com/spreadsheets/d/1gtqd1Xb6Yr3g3myw0nnJDsnZUSybQYS9aFAEJWaPqhQ/export?format=csv&gid=1975618999","options":{"redirect":{"redirect":{}},"response":{"response":{"responseFormat":"text"}},"timeout":10000}},"id":"fetch-sheet","name":"Fetch Sheet","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,224]},{"parameters":{"jsCode":"// Parsea CSV del Sheet, filtra parcelas pedidas y arma pdfData + flags de envío.\nconst input = $('Validate Input').first().json;\nconst sheetItem = $json;\n\nconst nombreFull = input.nombre;\nconst primerNombre = nombreFull.split(' ')[0] || 'Cliente';\n\nconst csvText = ((sheetItem && (sheetItem.data || sheetItem.body)) || '').toString();\nfunction parseCsv(text) {\n  const rows = [];\n  let row = []; let field = ''; let inQuotes = false;\n  for (let i = 0; i < text.length; i++) {\n    const c = text[i];\n    if (c === '\"') {\n      if (inQuotes && text[i + 1] === '\"') { field += '\"'; i++; }\n      else inQuotes = !inQuotes;\n    } else if (c === ',' && !inQuotes) { row.push(field); field = ''; }\n    else if ((c === '\\n' || c === '\\r') && !inQuotes) {\n      if (c === '\\r' && text[i + 1] === '\\n') i++;\n      row.push(field); rows.push(row); row = []; field = '';\n    } else field += c;\n  }\n  if (field.length || row.length) { row.push(field); rows.push(row); }\n  return rows;\n}\nconst pm = (s) => { if (!s) return null; const t = s.toString(); if (t.includes('#')) return null; const n = t.replace(/[^0-9]/g, ''); return n ? parseInt(n, 10) : null; };\nconst ps = (s) => { if (!s) return null; const n = s.toString().replace(/[^0-9]/g, ''); return n ? parseInt(n, 10) : null; };\nconst normEstado = (r) => { const e = (r || '').toString().trim().toLowerCase(); if (e.startsWith('disponi')) return 'disponible'; if (e.startsWith('reserv')) return 'reservado'; if (e.startsWith('vendi')) return 'vendido'; return e; };\n\nconst rows = parseCsv(csvText);\nconst byNumero = new Map();\nfor (const r of rows) {\n  if (!r || r.length < 3) continue;\n  const lote = (r[1] || '').toString().trim();\n  if (!/^(\\d{1,3}|B\\d{1,2})$/i.test(lote)) continue;\n  byNumero.set(lote.toUpperCase(), {\n    numero: lote.toUpperCase(),\n    destacada: ((r[0] || '').toString().trim() === '⭐'),\n    estado: normEstado(r[2]),\n    tamano_m2: ps(r[3]),\n    precio_contado: pm(r[6]),\n    descuento_pct: ps(r[7]),\n    precio_credito: pm(r[9]),\n    pie_minimo_50pct: pm(r[10]),\n    cuota_mensual_clp: pm(r[11]),\n  });\n}\n\nconst parcelas = input.parcelas\n  .map(n => byNumero.get(n.toUpperCase()))\n  .filter(Boolean);\n\nconst pdfData = {\n  primerNombre,\n  resumen_conversacion: (input.resumen || '').trim(),\n  parcelas: parcelas.map(p => ({\n    numero: p.numero,\n    destacada: !!p.destacada,\n    estado: p.estado,\n    tamano_m2: p.tamano_m2,\n    precio_contado: p.precio_contado,\n    descuento_pct: p.descuento_pct,\n    precio_credito: p.precio_credito,\n    pie_minimo_50pct: p.pie_minimo_50pct,\n    cuota_mensual_clp: p.cuota_mensual_clp,\n  })),\n  base_url: 'https://mirador-villarrica-chatbot.vercel.app',\n};\n\nreturn [{ json: {\n  nombre: nombreFull,\n  primerNombre,\n  email: input.email,\n  phone_clean: input.whatsapp,\n  can_email: input.send_email,\n  can_whatsapp: input.send_whatsapp,\n  pdfData,\n  parcelas_ok: parcelas.length,\n} }];"},"id":"build","name":"Build PDF Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[912,224]},{"parameters":{"sendTo":"={{ $('Build PDF Data').first().json.email }}","subject":"={{ $('Build Email Body').first().json.emailSubject }}","message":"={{ $('Build Email Body').first().json.emailBody }}","options":{"attachmentsUi":{"attachmentsBinary":[{}]}}},"id":"gmail-send","name":"Gmail Send Resumen","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[1808,128],"webhookId":"56eb2ba9-3c29-4a86-9b6a-7becc348a7ca","credentials":{"gmailOAuth2":{"id":"RQucq4AsXT7dnUsP","name":"Gmail account"}},"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"=http://172.17.0.1:8080/message/sendMedia/Hugo Vargas Cubelli","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"apikey","value":"429683C4C977415CAAFCCE10F7D57E11"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ number: $('Build PDF Data').first().json.phone_clean, mediatype: 'document', mimetype: 'application/pdf', media: $('PDF to Base64').first().json.pdfBase64, fileName: 'resumen-mirador-villarrica.pdf', caption: $('Build WhatsApp Caption').first().json.whatsappCaption }) }}","options":{"response":{"response":{"neverError":true}}}},"id":"wa-send","name":"Evolution Send WA","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,320],"onError":"continueRegularOutput"},{"parameters":{"jsCode":"const built = $('Build PDF Data').first().json;\nconst primerNombre = built.primerNombre || 'hola';\n\nconst sent = [];\nconst failed = [];\nlet waError = null;\nlet emailError = null;\n\n// --- EMAIL ---\nif (built.can_email) {\n  let gmailResp = null;\n  try { gmailResp = $('Gmail Send Resumen').first(); } catch (_) { gmailResp = null; }\n  const gmailOk = gmailResp && !gmailResp.error && gmailResp.json && (gmailResp.json.id || gmailResp.json.threadId || gmailResp.json.labelIds);\n  if (gmailOk) sent.push('email');\n  else { failed.push('email'); emailError = (gmailResp && gmailResp.error && gmailResp.error.message) || 'gmail_error'; }\n}\n\n// --- WHATSAPP ---\nif (built.can_whatsapp) {\n  let waResp = null;\n  try { waResp = $('Evolution Send WA').first().json; } catch (_) { waResp = null; }\n  const statusCode = waResp && typeof waResp.status === 'number' ? waResp.status : null;\n  const respBody = waResp ? (waResp.response || waResp) : null;\n  const message = respBody && respBody.message;\n  const notRegistered = Array.isArray(message) && message.some(m => m && m.exists === false);\n  if (notRegistered) { failed.push('whatsapp'); waError = 'numero_no_registrado'; }\n  else if (statusCode && statusCode >= 400) { failed.push('whatsapp'); waError = 'api_error'; }\n  else if (waResp && (waResp.key || waResp.message || waResp.status === 'PENDING' || statusCode === null)) { sent.push('whatsapp'); }\n  else { failed.push('whatsapp'); waError = 'unknown'; }\n}\n\n// --- MENSAJE DE SALIDA PARA EL AGENTE ---\nconst prettyNumber = built.phone_clean ? `+${built.phone_clean}` : 'tu WhatsApp';\nlet tool_output_text;\n\nif (sent.length > 0 && failed.length === 0) {\n  const canal = sent.length === 2 ? 'correo y WhatsApp' : sent[0] === 'email' ? 'correo' : 'WhatsApp';\n  tool_output_text = `Listo ${primerNombre}, envio exitoso por ${canal} 📨 Revisalo con calma y cualquier duda me la cuentas por aca.`;\n} else if (sent.length > 0 && failed.includes('whatsapp') && waError === 'numero_no_registrado') {\n  tool_output_text = `Te llegó el resumen al correo ${primerNombre}. El envío por WhatsApp falló porque el número ${prettyNumber} no está registrado en WhatsApp — ¿me confirmas el número correcto y lo reintento?`;\n} else if (sent.length > 0 && failed.includes('whatsapp')) {\n  tool_output_text = `Te llegó el resumen por correo ${primerNombre}, pero el envío por WhatsApp falló por un tema técnico. ¿Quieres que reintente solo el WhatsApp?`;\n} else if (sent.length > 0 && failed.includes('email')) {\n  tool_output_text = `Te llegó el resumen por WhatsApp ${primerNombre}, pero el envío por correo falló por un tema técnico. ¿Quieres que reintente solo el correo o prefieres darme otra dirección?`;\n} else if (failed.includes('whatsapp') && waError === 'numero_no_registrado') {\n  tool_output_text = `El número ${prettyNumber} no está registrado en WhatsApp ${primerNombre}. ¿Me confirmas el número correcto? Lo reintento en cuanto me digas.`;\n} else if (failed.length > 0) {\n  tool_output_text = `No logré enviar el resumen ${primerNombre} — falló el envío por ${failed.map(c => c === 'email' ? 'correo' : 'WhatsApp').join(' y ')}. Reintenta o pasa el caso al equipo de ventas.`;\n} else {\n  tool_output_text = `No pude preparar el envío ${primerNombre}. Confirmame tu correo y WhatsApp y lo intento de nuevo.`;\n}\n\nreturn [{ json: {\n  ok: sent.length > 0 && failed.length === 0,\n  partial: sent.length > 0 && failed.length > 0,\n  canales_enviados: sent,\n  canales_fallidos: failed,\n  email_error: emailError,\n  wa_error: waError,\n  tool_output_text,\n} }];"},"id":"final","name":"Final Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[2256,224]},{"parameters":{"method":"POST","url":"https://mirador-villarrica-chatbot-pruebasn8ncub-6852s-projects.vercel.app/api/render-resumen-pdf","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-render-token","value":"lvkeAaoCqWCXYdhKImrOCfX3yVlO1n1uULUrIUia"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.pdfData) }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"render-pdf","name":"Render PDF","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1136,224]},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const buf = await this.helpers.getBinaryDataBuffer(0, 'data');\n$input.item.json.pdfBase64 = buf.toString('base64');\nreturn $input.item;"},"id":"072f6235-3cab-4c2c-a322-567e5228bf79","name":"PDF to Base64","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,320]},{"parameters":{"jsCode":"// Arma el HTML body y el subject del correo para Gmail.\n// Si el lead no pidio correo, cortocircuito: la rama entera se salta.\nconst built = $('Build PDF Data').first().json;\nif (!built.can_email) return [];\nconst primerNombre = built.primerNombre || 'Cliente';\nconst BASE_URL = built.pdfData && built.pdfData.base_url ? built.pdfData.base_url : 'https://mirador-villarrica-chatbot.vercel.app';\n\nconst emailSubject = 'Tu resumen personalizado · Mirador de Villarrica';\n\nconst emailBody = ''\n  + '<div style=\"font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:1.65;color:#333;max-width:560px;padding:16px;\">'\n  +   `<p style=\"margin:0 0 14px;\">Hola <strong>${primerNombre}</strong>,</p>`\n  +   '<p style=\"margin:0 0 14px;\">Te adjunto el PDF con el resumen personalizado de lo que conversamos: las parcelas recomendadas con precios al contado y a crédito directo, el detalle según tu caso y los enlaces útiles del proyecto.</p>'\n  +   '<p style=\"margin:0 0 14px;\">Si tienes más dudas no dudes en preguntarme por acá y con gusto te ayudo. Si ya estás decidido y quieres pasar al proceso de reserva y/o compra, dímelo y te comunico con nuestro equipo de ventas para coordinar una llamada.</p>'\n  +   '<p style=\"margin:18px 0 10px;color:#1a3d2e;font-weight:bold;\">¡Un saludo!</p>'\n  +   '<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" width=\"100%\" style=\"margin-top:18px;border-collapse:collapse;border-radius:8px;overflow:hidden;\">'\n  +     '<tr>'\n  +       `<td align=\"center\" bgcolor=\"#1a3d2e\" style=\"background-color:#1a3d2e;padding:16px 20px 12px;\">`\n  +         '<table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\">'\n  +           '<tr>'\n  +             `<td style=\"vertical-align:middle;padding:0 18px 0 0;\"><img src=\"${BASE_URL}/assets/mirador-logo.png\" width=\"88\" alt=\"Mirador de Villarrica\" style=\"display:block;max-width:88px;height:auto;border:0;\"/></td>`\n  +             '<td style=\"vertical-align:middle;padding:0 14px;color:#ffffff;font-size:10px;letter-spacing:2px;text-transform:uppercase;font-family:Arial,sans-serif;white-space:nowrap;\">Un proyecto de</td>'\n  +             `<td style=\"vertical-align:middle;padding:0 0 0 18px;\"><img src=\"${BASE_URL}/assets/terra-segura-logo.png\" width=\"104\" alt=\"Terra Segura\" style=\"display:block;max-width:104px;height:auto;border:0;\"/></td>`\n  +           '</tr>'\n  +         '</table>'\n  +       '</td>'\n  +     '</tr>'\n  +     '<tr>'\n  +       '<td align=\"center\" bgcolor=\"#1a3d2e\" style=\"background-color:#1a3d2e;padding:0 20px 16px;\">'\n  +         '<div style=\"height:1px;background:#ffffff22;margin-bottom:12px;line-height:1px;font-size:0;\">&nbsp;</div>'\n  +         '<p style=\"margin:0 0 4px;font-family:Arial,Helvetica,sans-serif;font-size:12.5px;font-weight:bold;color:#ffffff;\">Equipo de Ventas — Terra Segura Inmobiliaria</p>'\n  +         '<p style=\"margin:0 0 8px;font-family:Arial,Helvetica,sans-serif;font-size:11.5px;color:#c5d5cc;\">Mirador de Villarrica · Región de La Araucanía</p>'\n  +         '<p style=\"margin:0;font-family:Arial,Helvetica,sans-serif;font-size:11.5px;color:#ffffff;\">'\n  +           '<a href=\"https://wa.me/56940329987\" style=\"color:#ffffff;text-decoration:none;\"><span style=\"color:#25D366;\">●</span> WhatsApp +56 9 4032 9987</a>'\n  +           '&nbsp;·&nbsp;'\n  +           '<a href=\"mailto:diego@terrasegura.cl\" style=\"color:#ffffff;text-decoration:none;\">diego@terrasegura.cl</a>'\n  +         '</p>'\n  +       '</td>'\n  +     '</tr>'\n  +   '</table>'\n  + '</div>';\n\nconst inputItem = $input.all()[0] || {};\nreturn [{ json: { emailSubject, emailBody, email: built.email, can_email: built.can_email }, binary: inputItem.binary }];"},"id":"d4b830b2-9ea7-47bf-a063-3dd261aa8b73","name":"Build Email Body","type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,128]},{"parameters":{"jsCode":"// Arma el caption del WhatsApp.\n// Si el lead no pidio WhatsApp, cortocircuito: la rama entera se salta.\nconst built = $('Build PDF Data').first().json;\nif (!built.can_whatsapp) return [];\nconst primerNombre = built.primerNombre || 'Cliente';\n\nconst whatsappCaption = ''\n  + `Hola ${primerNombre},\\n\\n`\n  + `Te adjunto el PDF con el resumen personalizado de lo que conversamos: las parcelas recomendadas con precios al contado y a crédito directo, el detalle según tu caso y los enlaces útiles del proyecto.\\n\\n`\n  + `Si tienes más dudas no dudes en preguntarme por acá y con gusto te ayudo. Si ya estás decidido y quieres pasar al proceso de reserva y/o compra, dímelo y te comunico con nuestro equipo de ventas para coordinar una llamada.\\n\\n`\n  + `*Equipo Terra Segura*\\n`\n  + `_Mirador de Villarrica · Región de La Araucanía_`;\n\n// Preserva el pdfBase64 que vino del nodo anterior (PDF to Base64) para la llamada a Evolution.\nreturn [{ json: { ...$json, whatsappCaption, phone_clean: built.phone_clean, can_whatsapp: built.can_whatsapp } }];"},"id":"0c98afa2-acd5-4ff5-91fc-87d5c352009e","name":"Build WhatsApp Caption","type":"n8n-nodes-base.code","typeVersion":2,"position":[1584,320]},{"parameters":{"mode":"append","combineBy":"combineAll","options":{}},"id":"2b027cc9-fd24-4ab8-9986-f5911fd90ad1","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2032,224]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Validate Input","type":"main","index":0}]]},"Render PDF":{"main":[[{"node":"PDF to Base64","type":"main","index":0},{"node":"Build Email Body","type":"main","index":0}]]},"Validate Input":{"main":[[{"node":"Fetch Sheet","type":"main","index":0}]]},"Fetch Sheet":{"main":[[{"node":"Build PDF Data","type":"main","index":0}]]},"Build PDF Data":{"main":[[{"node":"Render PDF","type":"main","index":0}]]},"Build Email Body":{"main":[[{"node":"Gmail Send Resumen","type":"main","index":0}]]},"PDF to Base64":{"main":[[{"node":"Build WhatsApp Caption","type":"main","index":0}]]},"Build WhatsApp Caption":{"main":[[{"node":"Evolution Send WA","type":"main","index":0}]]},"Gmail Send Resumen":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Evolution Send WA":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"Final Output","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"802f5eb0-36aa-4612-afcb-978e77e35765","activeVersionId":"802f5eb0-36aa-4612-afcb-978e77e35765","versionCounter":121,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-21T02:30:11.343Z","createdAt":"2026-04-21T02:30:11.343Z","role":"workflow:owner","workflowId":"FMUrg6cBHC2M6JhV","projectId":"30a6jRldjQxRfVCA","project":{"updatedAt":"2026-04-06T22:42:21.682Z","createdAt":"2026-04-06T22:39:53.588Z","id":"30a6jRldjQxRfVCA","name":"hugo vargas <hugo.vargas.cubelli@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ad6c5ea4-1002-413c-90ee-d986782c10f5"}}],"versionMetadata":{"name":null,"description":null}}]