n8n-workflows/before-cleanup-2026-04-30/rG9VOmI6FmhmjeoZ.json
[{"updatedAt":"2026-04-23T20:35:29.007Z","createdAt":"2026-04-21T02:24:00.604Z","id":"rG9VOmI6FmhmjeoZ","name":"[Tool] Mirador - recomendar_parcelas","description":null,"active":true,"isArchived":false,"nodes":[{"id":"trigger","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[240,300],"parameters":{"inputSource":"jsonExample","jsonExample":"{\n  \"forma_pago\": \"credito\",\n  \"presupuesto_clp\": 0,\n  \"pie_clp\": 15000000,\n  \"tamano_preferido\": \"5000\"\n}"}},{"id":"fetch-sheet","name":"Fetch Google Sheet CSV","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[460,300],"parameters":{"url":"https://docs.google.com/spreadsheets/d/1gtqd1Xb6Yr3g3myw0nnJDsnZUSybQYS9aFAEJWaPqhQ/export?format=csv&gid=1975618999","options":{"redirect":{"redirect":{"followRedirects":true}},"timeout":10000,"response":{"response":{"responseFormat":"text"}}}}},{"id":"recomendar","name":"Recomendar","type":"n8n-nodes-base.code","typeVersion":2,"position":[900,300],"parameters":{"jsCode":"// Filtra parcelas disponibles segun forma_pago + presupuesto + tamano opcional.\n// Agrupa lotes con mismos valores (precio + tamano) para no saturar al agente.\n// Orden: menor a mayor precio.\n\nconst sheetItem = $('Fetch Google Sheet CSV').first().json;\nconst csvText = ((sheetItem && (sheetItem.data || sheetItem.body)) || '').toString();\nif (!csvText || csvText.length < 100) {\n  return [{ json: {\n    ok: false,\n    error: 'csv_fetch_failed',\n    grupos: [],\n    tool_output_text: 'No pude consultar el inventario en este momento. Puedo pasar tu caso al equipo si quieres.',\n  } }];\n}\n\nconst input = $('Execute Workflow Trigger').first().json || {};\nconst formaPago = (input.forma_pago || '').toString().toLowerCase().trim();\nconst presupuestoClp = Number(input.presupuesto_clp) || 0;\nconst pieClp = Number(input.pie_clp) || 0;\nconst tamanoRaw = (input.tamano_preferido || '').toString().toLowerCase().trim();\n\n// Interpretar tamano_preferido: acepta '5000', '10000', '5000m2', '1 ha', 'hectarea', 'media hectarea', etc.\nfunction parseTamanoPreferido(raw) {\n  if (!raw) return { min: null, max: null };\n  const s = raw.replace(/[\\.,]/g, '').toLowerCase();\n  if (s.includes('hectarea') || s === 'ha' || s.includes('1ha') || s.includes('1 ha')) return { min: 10000, max: 10000 };\n  if (s.includes('media hectarea') || s.includes('0.5 ha')) return { min: 5000, max: 5000 };\n  if (s === 'grande') return { min: 8000, max: null };\n  if (s === 'chica' || s === 'chico' || s === 'pequena' || s === 'pequeno') return { min: null, max: 6000 };\n  if (s === 'mediana' || s === 'medio' || s === 'media') return { min: 5000, max: 8000 };\n  const digits = s.replace(/[^0-9]/g, '');\n  if (digits) {\n    const n = parseInt(digits, 10);\n    // Tolerancia +/- 10% para que '5000' calze con 4800-5500, etc.\n    const margen = Math.max(500, Math.round(n * 0.1));\n    return { min: n - margen, max: n + margen };\n  }\n  return { min: null, max: null };\n}\nconst rangoTamano = parseTamanoPreferido(tamanoRaw);\n\nfunction parseCsv(text) {\n  const rows = [];\n  let row = [], field = '', inQuotes = false;\n  for (let i = 0; i < text.length; i++) {\n    const c = text[i];\n    if (c === '\"') {\n      if (inQuotes && text[i+1] === '\"') { field += '\"'; i++; }\n      else { inQuotes = !inQuotes; }\n    } else if (c === ',' && !inQuotes) {\n      row.push(field); field = '';\n    } else if ((c === '\\n' || c === '\\r') && !inQuotes) {\n      if (c === '\\r' && text[i+1] === '\\n') i++;\n      row.push(field); rows.push(row); row = []; field = '';\n    } else {\n      field += c;\n    }\n  }\n  if (field.length || row.length) { row.push(field); rows.push(row); }\n  return rows;\n}\n\nconst parseMoney = (s) => {\n  if (!s) return null;\n  const t = s.toString();\n  if (t.includes('#DIV') || t.includes('#REF') || t.includes('#VALUE')) return null;\n  const cleaned = t.replace(/[^0-9]/g, '');\n  return cleaned ? parseInt(cleaned, 10) : null;\n};\nconst parseTamano = (s) => {\n  if (!s) return null;\n  const t = s.toString();\n  const cleaned = t.replace(/[^0-9]/g, '');\n  return cleaned ? parseInt(cleaned, 10) : null;\n};\nconst normalizeEstado = (raw) => {\n  const e = (raw || '').toString().trim().toLowerCase();\n  if (e.startsWith('disponi')) return 'disponible';\n  if (e.startsWith('reserv')) return 'reservado';\n  if (e.startsWith('vendi')) return 'vendido';\n  return e || 'desconocido';\n};\nconst fmtClp = (n) => {\n  if (n === null || n === undefined) return 's/valor';\n  return '$' + n.toLocaleString('es-CL');\n};\nconst fmtTamano = (m2) => {\n  if (m2 === null || m2 === undefined) return 's/tamano';\n  if (m2 >= 10000) {\n    const ha = (m2 / 10000);\n    const haStr = ha % 1 === 0 ? ha.toString() : ha.toFixed(2);\n    return `${haStr} ha`;\n  }\n  return `${m2.toLocaleString('es-CL')} m²`;\n};\n\nconst rows = parseCsv(csvText);\nconst disponibles = [];\nfor (const r of rows) {\n  if (!r || r.length < 3) continue;\n  const lote = (r[1] || '').toString().trim();\n  if (!/^(\\d{1,3}|B\\d{1,2})$/i.test(lote)) continue;\n  if (normalizeEstado(r[2]) !== 'disponible') continue;\n  const tamano = parseTamano(r[3]);\n  const precioContado = parseMoney(r[6]);\n  const pieMinimo = parseMoney(r[10]);\n  disponibles.push({\n    numero: lote.toUpperCase(),\n    tamano_m2: tamano,\n    precio_contado: precioContado,\n    pie_minimo_50pct: pieMinimo,\n  });\n}\n\nif (disponibles.length === 0) {\n  return [{ json: {\n    ok: true,\n    grupos: [],\n    tool_output_text: 'En este momento no hay parcelas disponibles. Le aviso al equipo para que te contacten cuando entre alguna.',\n  } }];\n}\n\n// Filtro por tamano (si aplica)\nfunction passTamano(p) {\n  if (rangoTamano.min === null && rangoTamano.max === null) return true;\n  if (p.tamano_m2 === null) return false;\n  if (rangoTamano.min !== null && p.tamano_m2 < rangoTamano.min) return false;\n  if (rangoTamano.max !== null && p.tamano_m2 > rangoTamano.max) return false;\n  return true;\n}\n\nlet candidatas = disponibles.filter(passTamano);\nlet sinMatch = false;\n\nif (formaPago === 'contado' && presupuestoClp > 0) {\n  candidatas = candidatas.filter(p => p.precio_contado !== null && p.precio_contado <= presupuestoClp);\n} else if (formaPago === 'credito' && pieClp > 0) {\n  candidatas = candidatas.filter(p => p.pie_minimo_50pct !== null && p.pie_minimo_50pct <= pieClp);\n}\n\nif (candidatas.length === 0) sinMatch = true;\n\nconst valorKey = formaPago === 'credito' ? 'pie_minimo_50pct' : 'precio_contado';\n\nfunction agrupar(lista) {\n  const map = new Map();\n  for (const p of lista) {\n    const valor = p[valorKey];\n    const key = `${valor}|${p.tamano_m2}`;\n    if (!map.has(key)) {\n      map.set(key, {\n        valor,\n        tamano_m2: p.tamano_m2,\n        precio_contado: p.precio_contado,\n        pie_minimo_50pct: p.pie_minimo_50pct,\n        lotes: [],\n      });\n    }\n    map.get(key).lotes.push(p.numero);\n  }\n  return Array.from(map.values()).sort((a, b) => (a.valor || 0) - (b.valor || 0));\n}\n\nconst grupos = agrupar(candidatas);\n\nfunction formatGrupos(gs) {\n  const labelValor = formaPago === 'credito' ? 'pie minimo 50%' : 'precio contado';\n  return gs.map(g => {\n    const lotesStr = g.lotes.length === 1\n      ? `Lote ${g.lotes[0]}`\n      : `Lotes ${g.lotes.join(', ')}`;\n    return `${lotesStr} — ${fmtTamano(g.tamano_m2)} — ${fmtClp(g.valor)} (${labelValor})`;\n  }).join('\\n');\n}\n\nconst tamanoMencion = tamanoRaw ? ` con ese tamano` : '';\n\nlet text;\nif (sinMatch) {\n  // Fallback: mostrar disponibles segun tamano (si habia filtro), o todas sin filtro\n  const fallbackList = tamanoRaw ? disponibles.filter(passTamano) : disponibles;\n  const gruposFallback = agrupar(fallbackList.length ? fallbackList : disponibles);\n  const modo = formaPago === 'credito' ? 'ese pie' : 'ese presupuesto';\n  text = `Con ${modo}${tamanoMencion} no encuentro parcelas que califiquen exactamente. Estas son las disponibles más cercanas:\\n\\n${formatGrupos(gruposFallback)}\\n\\nEl equipo puede revisar opciones adicionales si quieres.`;\n} else {\n  const modoLabel = formaPago === 'credito' ? 'ese pie' : 'ese presupuesto';\n  text = `Con ${modoLabel}${tamanoMencion} califican estas parcelas disponibles (ordenadas de menor a mayor):\\n\\n${formatGrupos(grupos)}`;\n}\n\nreturn [{ json: {\n  ok: true,\n  forma_pago: formaPago,\n  tamano_preferido: tamanoRaw,\n  rango_tamano: rangoTamano,\n  sin_match: sinMatch,\n  total_disponibles: disponibles.length,\n  total_califican: candidatas.length,\n  grupos,\n  tool_output_text: text,\n} }];"}}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Fetch Google Sheet CSV","type":"main","index":0}]]},"Fetch Google Sheet CSV":{"main":[[{"node":"Recomendar","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"fa470489-6ab4-4677-941e-a27bbc8f7782","activeVersionId":"fa470489-6ab4-4677-941e-a27bbc8f7782","versionCounter":30,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-21T02:24:00.650Z","createdAt":"2026-04-21T02:24:00.650Z","role":"workflow:owner","workflowId":"rG9VOmI6FmhmjeoZ","projectId":"30a6jRldjQxRfVCA","project":{"updatedAt":"2026-04-06T22:42:21.682Z","createdAt":"2026-04-06T22:39:53.588Z","id":"30a6jRldjQxRfVCA","name":"hugo vargas <hugo.vargas.cubelli@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"ad6c5ea4-1002-413c-90ee-d986782c10f5"}}],"versionMetadata":{"name":null,"description":null}}]